{exp:ifelse parse="inward"}

{if !logged_in}

	{redirect='tools/log-in'}

{if:else}

<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{assets_path}css/reset.css" />
	<link rel="stylesheet" href="{assets_path}css/editables.css" />

	<script src="{assets_path}js/libs/prefixfree.min.js"></script>

	<script src="{assets_path}js/libs/modernizr-dev.js"></script>

	<title>A List Apart Profile Editor</title>

</head>

<body data-xid="{XID_HASH}">

	<header>

		<h1>
			<img src="{assets_path}img/favicons/apple-touch-icon-57x57.png" alt="" width="57" height="57" style="display: inline-block; height: 40px; width: auto; vertical-align: middle; margin-right: 9px; margin-top: -10px;">
			The ALA Profile Editor
		</h1>

		<p><a href="/">Home page</a> ∙ <a href="{exp:freemember:logout_url}">Log out</a></p>

	</header>

	<hr>

{exp:social_login:add_userdata return="SAME_PAGE" id="userdata_form"}

	<style>
	form, hr {display: none;}
	form#userdata_form {display: block;}
	</style>

	<h2 class="social-form">Did you sign up using a social account?</h2>

	<p>We might need some more info before you can edit your profile:</p>

	{email_block}
	<fieldset>
		<label>
			We need your email address (for lost password requests):<br />
			<input id="email" aria-describedby="email_error" name="email" type="email" value="{email}"
				data-validate="onblur"
				data-type="email"
				data-isvalid=""
				data-error="are you sure this is your email address?"
				required>
		</label>
	</fieldset>
	{/email_block}

	{password_block}
	<fieldset>
		<label class="password-field">
			Pick a password:
			<input id="password" aria-describedby="password_error" name="password" type="password"
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="what's your password?"
				required />
			<span class="note">Make it good.</span>
		</label>

		<label class="password-field">
			Confirm it:
			<input id="password_confirm" aria-describedby="password_confirm_error" name="password_confirm" type="password"
				data-validate="onblur"
				data-type="matching"
				data-mustmatch="password"
				data-isvalid="yes"
				data-error="this needs to match the previous field."
				required />
			<span class="note">Make it the same.</span>
		</label>
	</fieldset>
	{/password_block}

	<p class="align-center">
		<button type="submit" class="spinner">
			<span class="label">Submit</span>
			<span class="spinner"></span>
		</button>
	</p>

<hr>

{/exp:social_login:add_userdata}

{exp:user:edit
	dynamic="off"
	return="/edit/profile/"
	form:class="perfect-form-demo"}

	<h2>The Basics</h2>

	<fieldset>

		<label>
			Username:
			<input name="username" type="text" value="{username}" readonly>
			<span class="note">Readonly. If you must change this, get in touch.</span>
		</label>

		<label>
			Email:
			<input id="email" aria-describedby="email_error" name="email" type="email" value="{email}"
			data-validate="onblur"
			data-type="email"
			data-isvalid=""
			data-error="are you sure this is your email address?"
			required>
		</label>

		<label>
			Visible name:
			<input id="screen_name" aria-describedby="screen_name_error" name="screen_name" type="text" value="{screen_name}"
			data-validate="onblur"
			data-type="any"
			data-isvalid=""
			data-error="how do you want to be identified on the site?"
			required>
		</label>

		{if group_id == "1" OR group_id == "6" OR group_id == "7" OR group_id == "10"}

		<label>
			First name:
			<input id="first_name" aria-describedby="first_name_error" name="first_name" type="text" value="{first_name}"
			data-validate="onblur"
			data-type="any"
			data-isvalid=""
			data-error="what's your first name?"
			required>
		</label>

		<label>
			Last name:
			<input id="last_name" aria-describedby="last_name_error" name="last_name" type="text" value="{last_name}"
			data-validate="onblur"
			data-type="any"
			data-isvalid=""
			data-error="what's your last name?"
			required>
		</label>

		{/if}

		<label class="password-field">
			New password:
			<input id="password" aria-describedby="password_error" name="password" type="password"
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="what's your password?"
				required />
			<span class="note">Make it good.</span>
		</label>

		<label class="password-field">
			New password confirmation:
			<input id="password_confirm" aria-describedby="password_confirm_error" name="password_confirm" type="password"
				data-validate="onblur"
				data-type="matching"
				data-mustmatch="password"
				data-isvalid="yes"
				data-error="this needs to match the previous field."
				required />
			<span class="note">Make it the same.</span>
		</label>

		<label class="password-field">
			Submit your current password to continue: <small>(<a href="/tools/forgot-password">forgotten it?</a>)</small>
			<input id="current_password" aria-describedby="current_password_error" name="current_password" type="password"
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="for your security, we need your current password"
				required />
		</label>


	</fieldset>

	<p class="align-center">
		<button type="submit" class="spinner">
			<span class="label">Submit</span>
			<span class="spinner"></span>
		</button>
	</p>

{/exp:user:edit}

<hr>

{exp:user:edit
	dynamic="off"
	return="/edit/profile/"
	form:class="perfect-form-demo"}

	<h2>Social Stuff</h2>

	<fieldset>

		<label>
			Personal URL:
			<input name="url" type="text" value="{url}">
			<span class="note">no http, no trailing slash</span>
		</label>

		<label>
			Twitter:
			<input name="twitter" type="text" value="{twitter}">
			<span class="note">username only, no @</span>
		</label>

		<label>
			Facebook:
			<input name="facebook" type="text" value="{facebook}">
			<span class="note">username only</span>
		</label>

		<label>
			GitHub:
			<input name="github" type="text" value="{github}">
			<span class="note">username only</span>
		</label>

		<label>
			Dribble:
			<input name="dribbble" type="text" value="{dribbble}">
			<span class="note">username only</span>
		</label>

		<label>
			Google+:
			<input name="googleplus" type="text" value="{googleplus}">
			<span class="note">until this gets smarter, add the whole URL for your profile</span>
			<span class="note">example 1: http://google.com/+TimMurtaugh</span>
			<span class="note">example 2: https://plus.google.com/104877852135164107223‎</span>
		</label>

	</fieldset>

	<fieldset>

		<label>
			Bio
			<textarea name="bio" data-autoresize style="height: 100px;">{bio}</textarea>
			<span class="note">links encouraged</span>
		</label>

	</fieldset>

	<p class="align-center">
		<button type="submit" class="spinner">
			<span class="label">Submit</span>
			<span class="spinner"></span>
		</button>
	</p>

{/exp:user:edit}

<hr>

{exp:user:edit
	dynamic="off"
	return="/edit/profile/"
	form:class="perfect-form-demo"}

	<h2>Avatar</h2>

	<p>Avatars should be square, and at least 200x200. If you sign in via Twitter, we probably grabbed your avatar from there. You can replace it.</p>

	<fieldset>

		<figure>
		{if avatar_filename != ""}
			<img src="{avatar_url}{avatar_filename}">
			{if avatar_width < "201" OR avatar_height < "201"}
			<span class="note">(at {avatar_width}x{avatar_height} this avatar is smaller than we would like)</span>
			{/if}
		{if:else}
			<img src="{assets_path}img/avatar_generic-commenter_grey.png">
		{/if}

		</figure>

		<label>
			Upload an avatar:
			<input type="file" name="avatar_filename" />
		</label>

	</fieldset>

	<p class="align-center">
		<button type="submit" class="spinner">
			<span class="label">Submit</span>
			<span class="spinner"></span>
		</button>
	</p>

{/exp:user:edit}

{if group_id == "1" OR group_id == "6" OR group_id == "7" OR group_id == "10"}

<hr>

{exp:user:edit
	dynamic="off"
	return="/edit/profile/"
	form:class="perfect-form-demo"}

	<h2>Author Photo</h2>

	<p>Author photos should be at least 250x250. Our editors may crop and resize if needed.</p>

	<fieldset>

		<figure>
		{if photo_filename != ""}
			<img style="max-width: 100%;" src="{photo_url}{photo_filename}" />
			{if photo_width < "400" OR photo_height < "400"}
			<span class="note">(at {photo_width}x{photo_height} this photo is smaller than we would like)</span>
			{/if}
		{/if}
		</figure>

		<label>
			Upload photo:
			<input type="file" name="photo_filename" />
		</label>

	</fieldset>

	<p class="align-center">
		<button type="submit" class="spinner">
			<span class="label">Submit</span>
			<span class="spinner"></span>
		</button>
	</p>

</div>

{/exp:user:edit}

{/if}

{global-page-bottom}

{/if}

{/exp:ifelse}