
				{exp:user:entries channel="articles|blog|columns|events" status="open" user_author_id="{embed:author_id}" orderby="date" show_expired="yes" sticky="no" limit="2"}

				{if count == "1"}
				<aside class="previous-column">

					<i>More from this author</i>

				{/if}

					<h2><a href="/{if channel_short_name == "columns"}column{if:elseif channel_short_name == "blog"}blog/post{if:elseif channel_short_name == "articles"}article{if:else}event{/if}/{url_title}">{title}</a></h2>

				{if count == total_results}</aside>{/if}

				{/exp:user:entries}
