
				<ul class="entry-list">
				{exp:channel:entries channel="columns" limit="10" status="open" dynamic="off" show_future_entries="no" offset="{embed:offset}"}

				{if no_results}
				{redirect="404"}
				{/if}

					<li>
						<h3 class="entry-title"><a href="/column/{url_title}">{title}</a></h3>
						<p class="meta">
							by {embed="embeds/article-authors" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"} ·
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
							{if comment_total > 0}
							 · <a class="comment-count" href="/column/{url_title}#comments">{comment_total} Comment{if comment_total > 1}s{/if}</a>
							 {/if}
						</p>
						<p>{exp:strip_html}{column_intro}{/exp:strip_html}</p>
					</li>

				{/exp:channel:entries}
				</ul>
