
						{exp:comment:entries sort="asc" dynamic="no" comment_id="339591"}
						{exp:strip_html keep='b|em|a|i|blockquote'}{comment}{/exp:strip_html}
						
						<footer>
						
							<span class="commenter-name">{name}</span>
							 · 
							<time><a href="/comments/{url_title}/#{comment_id}">{comment_date format="%F %d, %Y"}</a></time> <i>commenting on</i>
							
							<span class="source-title"><a href="/blog/post/{url_title}">{title}</a> <i>by</i> {if channel_short_name == 'blog'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {blog_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{blog_authors:url_title}"><span itemprop="name">{blog_authors:title}</span></a>, {/blog_authors}</span>
							{/if}
							{if channel_short_name == 'columns'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {column_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{column_authors:url_title}"><span itemprop="name">{column_authors:title}</span></a>, {/column_authors}</span>
							{/if}
							{if channel_short_name == 'articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{article_authors:url_title}"><span itemprop="name">{article_authors:title}</span></a>, {/article_authors}</span>
							{/if}
							{if channel_short_name == 'legacy_articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {legacy_article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{legacy_article_authors:url_title}"><span itemprop="name">{legacy_article_authors:title}</span></a>, {/legacy_article_authors}</span>
							{/if}</span>
							
						</footer>
			
						{/exp:comment:entries}
