{exp:channel:entries category="{embed:category_id}" entry_id="NOT {embed:exclude}" channel="articles|columns|blog" limit="2" status="open" dynamic="off"}

<h2><a href="{site_url}{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}">{title}</a></h2>
<p>{exp:strip_html}
{if channel_short_name=='columns'}
   {if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
{if:elseif channel_short_name=='blog'}
   {if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
{if:elseif channel_short_name=='articles'}
   {if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
{/if}
{/exp:strip_html}</p>

{/exp:channel:entries}

