<section class="related-articles">
{exp:channel:entries entry_id="{embed:exclude}" channel="articles|legacy_articles|columns|blog" limit="2" status="open|In Progress" dynamic="off"}
{primary_categories}

   <h1 class="primary-cat-header">
      Further reading about
      <a href="/topic/{primary_category_url_title}" data-trackevent="Related sidebar: Related by category">{primary_category_name}</a>
   </h1>

   <article>
{/primary_categories}
{/exp:channel:entries}

{exp:channel:entries category="{embed:category_id}" entry_id="NOT {embed:exclude}" channel="articles|legacy_articles|columns|blog" limit="2" status="open|In Progress" dynamic="off"}

   <h2><a href="{site_url}/{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}">{title}</a></h2>
   <p>{exp:strip_html}
   {if channel_short_name=='columns'}
      {if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
   {if:elseif channel_short_name=='blog'}
      {if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
   {if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}
      {if article_mini_deck || legacy_article_mini_deck}{article_mini_deck}{legacy_article_mini_deck}{if:elseif article_deck || legacy_article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{legacy_article_deck}{/exp:trunchtml}{/if}
   {/if}
   {/exp:strip_html}</p>

{/exp:channel:entries}

   </article>

</section>

