
							{exp:channel:entries channel="contributors" entry_id="{embed:entry-id}" dynamic="no"}

							{parents channel="articles|legacy_articles|blog|columns" field="article_authors|legacy_article_authors|column_authors|blog_authors" limit="1" status="open" entry_id="not {embed:current-entry-id}"}
							<section>
							<h1>Recently by {embed:author_name} {screen_name}</h1>

							<article>
								<h1><a href="{site_url}{if parents:channel_short_name == 'columns'}/column/{if:elseif parents:channel_short_name == 'blog'}/blog/post/{if:else}/article/{parents:url_title}{/if}">{parents:title}</a></h1>
								<p>{exp:ala_typography:inline}{exp:strip_html}
								{if parents:channel_short_name=='blog'}
									{if parents:blog_mini_deck}{parents:blog_mini_deck}{if:elseif parents:blog_intro}{exp:trunchtml chars="130" inline="..."}{parents:blog_intro}{/exp:trunchtml}{/if}
								{if:elseif parents:channel_short_name=='columns'}
									{if parents:column_mini_deck}{parents:column_mini_deck}{if:elseif parents:column_intro}{exp:trunchtml chars="130" inline="..."}{parents:column_intro}{/exp:trunchtml}{/if}
								{if:else}
									{if parents:article_mini_deck || parents:legacy_article_mini_deck}{parents:article_mini_deck}{parents:legacy_article_mini_deck}{if:elseif parents:article_deck || parents:legacy_article_deck}{exp:trunchtml chars="130" inline="..."}{parents:article_deck}{parents:legacy_article_deck}{/exp:trunchtml}{/if}
								{/if}
								{/exp:strip_html}{/exp:ala_typography:inline}</p>
							</article>
							</section>
							{/parents}
							{/exp:channel:entries}

