{exp:user:authors entry_id="{embed:entry_id}" dynamic="off"}
{exp:stash:set name="author-id"}{member_id}{/exp:stash:set}

{exp:user:entries channel="articles|blog|columns" status="open" user_author_id="{member_id}" limit="2" dynamic="no"}
{if {entry_id} != {exp:stash:get name="entry-id"}}
<h1>Recently by {embed:author_name} {screen_name}</h1>

<article>
	<h1><a href="{site_url}{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Recently by author">{title}</a></h1>
	<p>{exp:strip_html}
	{if channel_short_name=='blog'}
		{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
	{if:elseif channel_short_name=='columns'}
		{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
	{if:elseif channel_short_name=='articles'}
		{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
	{/if}
	{/exp:strip_html}</p>
</article>
{/if}
{/exp:user:entries}

{/exp:user:authors}