			{exp:channel:entries channel="columns" limit="1" entry_id="{embed:entry_id}" status="open|In Progress"}
			{exp:stash:set name="entry-id"}{entry_id}{/exp:stash:set}
			<aside id="related" class="sidebar var1">
				<i class="widget-branding ala"></i>
			{if column_follow_up != ""}
			<!-- start first block--><!-- if a follow up has been selected show the follow up -->
				<section class="follow-up">
				<h1>Follow-up</h1>
				{column_follow_up}
				<article>
					{entry}<h1><a href="{site_url}{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Follow up">{title}</a></h1>{/entry}
					<p>{exp:strip_html}
					{if note}
						{note}
					{if:else}
						{entry}
							{if channel_short_name=='blog'}
								{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='columns'}
								{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='articles'}
								{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
							{/if}
						{/entry}
					{/if}
					{/exp:strip_html}</p>
				</article>
				{/column_follow_up}
				</section>
			{if:else}
				{embed="embeds/recently-by-author" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}
			{/if}

			{if "{categories}{category_url_title}{/categories}" != ""}
				{embed="embeds/primary-category-logic" id="{entry_id}"}
			{/if}
			{if column_follow_up == ""}
				<section class="related-articles events">
				{embed="embeds/event-entries"}
				</section>
			{/if}
			</aside>
			{/exp:channel:entries}
