		{exp:channel:entries channel="articles" limit="1" entry_id="{embed:entry_id}" status="open"}
		{exp:playa:parents channel="issues" status="open"}{exp:stash:set name="total-children"}{exp:playa:total_children}{/exp:stash:set}{/exp:playa:parents}

			<aside id="related" class="sidebar var1">
				<i class="widget-branding ala"></i>
			{if article_follow_up != ""}
			<!-- start first block--><!-- if a follow up has been selected show the follow up -->
				<section class="follow-up">
				<h1>Follow-up</h1>
				{article_follow_up}
				<article>
					{entry}<h1><a href="{site_url}/{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Follow up">{title}</a></h1>{/entry}
					<p>{exp:strip_html}
					{if note}
						{note}
					{if:else}
						{entry}
							{if channel_short_name=='blog'}
								{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='columns'}
								{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='articles'}
								{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
							{/if}
						{/entry}
					{/if}
					{/exp:strip_html}</p>
				</article>
				{/article_follow_up}
				</section>
			{/if}
			<!-- if a follow up has not been selected, and the issue has two articles show the other article -->
			{if article_follow_up == ""}
			{exp:playa:parents channel="issues" status="open"}
			{if {exp:stash:get name="total-children"} > 1}
			{exp:stash:set name="issue-number"}{issue_number}{/exp:stash:set}
			{exp:playa:children child_id="not {embed:entry_id}" status="open"}
				<section>
					{if count == "1"}
					{article_illustration}
					<figure class="sidebar-hero {if width > height}wideone{/if}" data-picture data-alt="">
						<div data-src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="61"}{made}{/exp:ce_img:pair}"></div>
						<div data-src="{exp:ce_img:pair src="{url}" width="644" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" data-media="(min-width: 600px) and (min-device-pixel-ratio: 2.0)"></div>
						<noscript><img src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" alt=""></noscript>
					</figure>
					{/article_illustration}
					<h1>Also in Issue №&nbsp;{exp:stash:get name="issue-number"}</h1>
					{/if}
						<article>
						<h1><a href="/article/{url_title}" data-trackevent="Related sidebar: Also in issue">{title}</a></h1>
						<p>{exp:strip_html}{if article_mini_deck}<p>{article_mini_deck}</p>{if:elseif article_deck}<p>{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}</p>{/if}{/exp:strip_html}</p>
						</article>
					</section>
			{/exp:playa:children}
			{/if}
			{/exp:playa:parents}
			{/if}<!-- end first block -->
			{if "{article_related_content:count}" != ""}
			<!-- start second block --><!-- show related articles if they exist -->
				<section class="related-articles">
					<h1>Further reading</h1>
					{article_related_content status="open"}
					<article>
					<h2><a href="{site_url}/{if article_related_content:channel_short_name=='blog'}{article_related_content:channel_short_name}/post/{article_related_content:url_title}{if:elseif article_related_content:channel_short_name=='articles'}article/{article_related_content:url_title}{if:elseif article_related_content:channel_short_name=='columns'}column/{article_related_content:url_title}{/if}" data-trackevent="Related sidebar: Related by editor">{article_related_content:title}</a></h2>
					<p>{exp:strip_html}
					{if article_related_content:channel_short_name=='columns'}
						{if article_related_content:column_mini_deck}{article_related_content:column_mini_deck}{if:elseif article_related_content:column_intro}{exp:trunchtml chars="130" inline="..."}{article_related_content:column_intro}{/exp:trunchtml}{/if}
					{if:elseif article_related_content:channel_short_name=='blog'}
						{if article_related_content:blog_mini_deck}{article_related_content:blog_mini_deck}{if:elseif article_related_content:blog_intro}{exp:trunchtml chars="130" inline="..."}{article_related_content:blog_intro}{/exp:trunchtml}{/if}
					{if:elseif article_related_content:channel_short_name=='articles'}
						{if article_related_content:article_mini_deck}{article_related_content:article_mini_deck}{if:elseif article_related_content:article_deck}{exp:trunchtml chars="130" inline="..."}{article_related_content:article_deck}{/exp:trunchtml}{/if}
					{/if}
					{/exp:strip_html}</p>
					</article>
					{/article_related_content}
				</section>
			{if:else}<!-- if no related articles show categories -->

				<section class="related-articles">

				{embed="embeds/primary-category-logic" id="{entry_id}"}

				</section>

			{/if}
			{if article_follow_up == ""}
			{exp:playa:parents channel="issues" status="open"}
					{if {exp:stash:get name="total-children"} == 1}
						<section>
						{embed="embeds/event-entries"}
						</section>
					{/if}
			{/exp:playa:parents}
			{/if}
			</aside>
			{/exp:channel:entries}
