
				{exp:channel:entries channel="articles" limit="1" entry_id="{embed:entry_id}" status="open|In Progress"}
				<aside id="related" class="sidebar var1">
				<i class="widget-branding ala"></i>
				{if article_follow_up != ""}
				<section class="follow-up">
				<h1>Follow-up</h1>
				{article_follow_up}
				<article>
					{entry}<h1><a href="{site_url}{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}">{title}</a></h1>{/entry}
					<p>{exp:strip_html}
					{if note}
						{note}
					{if:else}
						{entry}
							{if channel_short_name=='blog'}
								{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='columns'}
								{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='articles'}
								{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
							{/if}
						{/entry}
					{/if}
					{/exp:strip_html}</p>
				</article>
				{/article_follow_up}
				</section>
				{if:else}
				{exp:playa:parents status="open|In Progress"}
				{exp:stash:set name="issue-number"}{issue_number}{/exp:stash:set}
				{exp:playa:children child_id="not {embed:entry_id}" status="open|In Progress"}
				<section>
				{if count == "1"}
				{article_illustration}
				<figure class="sidebar-hero" data-picture data-alt="">
					<div data-src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="61"}{made}{/exp:ce_img:pair}"></div>
					<div data-src="{exp:ce_img:pair src="{url}" width="644" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" data-media="(min-width: 600px) and (min-device-pixel-ratio: 2.0)"></div>
					<noscript><img src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" alt=""></noscript>
				</figure>
				{/article_illustration}
				<h1>Also in Issue №&nbsp;{exp:stash:get name="issue-number"}</h1>
				{/if}
					<article>
					<h1><a href="/article/{url_title}">{title}</a></h1>
					<p>{exp:strip_html}{if article_mini_deck}<p>{article_mini_deck}</p>{if:elseif article_deck}<p>{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}</p>{/if}{/exp:strip_html}</p>
					</article>
				</section>
				{/exp:playa:children}
				{/exp:playa:parents}
				{/if}
				{if "{article_related_content:count}" != ""}
				<section class="related-articles">
				<h1>Read more</h1>
				{article_related_content status="open|In Progress"}
					<article>
					<h1><a href="{site_url}{if article_related_content:channel_short_name=='blog'}{article_related_content:channel_short_name}/post/{article_related_content:url_title}{if:elseif article_related_content:channel_short_name=='articles'}article/{article_related_content:url_title}{if:elseif article_related_content:channel_short_name=='columns'}column/{article_related_content:url_title}{/if}">{article_related_content:title}</a></h1>
					<p>{exp:strip_html}
					{if article_related_content:channel_short_name=='columns'}
						{if article_related_content:column_mini_deck}{article_related_content:column_mini_deck}{if:elseif article_related_content:column_intro}{exp:trunchtml chars="130" inline="..."}{article_related_content:column_intro}{/exp:trunchtml}{/if}
					{if:elseif article_related_content:channel_short_name=='blog'}
						{if article_related_content:blog_mini_deck}{article_related_content:blog_mini_deck}{if:elseif article_related_content:blog_intro}{exp:trunchtml chars="130" inline="..."}{article_related_content:blog_intro}{/exp:trunchtml}{/if}
					{if:elseif article_related_content:channel_short_name=='articles'}
						{if article_related_content:article_mini_deck}{article_related_content:article_mini_deck}{if:elseif article_related_content:article_deck}{exp:trunchtml chars="130" inline="..."}{article_related_content:article_deck}{/exp:trunchtml}{/if}
					{/if}
					{/exp:strip_html}</p>
					</article>
				{/article_related_content}
				</section>
				{if:elseif !primary_category_no_results}
				{primary_categories}
				<section class="related-articles">
					<h1 class="primary-cat-header">
						Read more about
						<a href="/topic/{primary_category_url_title}">{primary_category_name}</a>
					</h1>
					<article>
						{embed="embeds/primary-category-entries" category_id="{primary_category_id}" exclude="{entry_id}"}
					</article>
				</section>
				{/primary_categories}
				{/if}

				</aside>
				{/exp:channel:entries}
