			{exp:channel:entries channel="blog" limit="1" entry_id="{embed:entry_id}" status="open|In Progress"}
 			<aside id="related" class="sidebar var1">
				<i class="widget-branding ala"></i>
			{if blog_follow_up != ""}
			<!-- start first block--><!-- if a follow up has been selected show the follow up -->
				<section class="follow-up">
				<h1>Follow-up</h1>
				{blog_follow_up}
				<article>
					{entry}<h1><a href="{site_url}{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Follow up">{title}</a></h1>{/entry}
					<p>{exp:strip_html}
					{if note}
						{note}
					{if:else}
						{entry}
							{if channel_short_name=='blog'}
								{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='columns'}
								{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
							{if:elseif channel_short_name=='articles'}
								{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{/exp:trunchtml}{/if}
							{/if}
						{/entry}
					{/if}
					{/exp:strip_html}</p>
				</article>
				{/blog_follow_up}
				</section>
			{/if}
			<!-- if a follow up has not been selected, show nothing in the first block -->

			{if "{blog_related_content:count}" != ""}
			<!-- start second block --><!-- show related articles if they exist -->
				<section class="related-articles">
					<h1>Further reading</h1>
					{blog_related_content status="open|In Progress"}
					<article>
					<h2><a href="{site_url}{if blog_related_content:channel_short_name=='blog'}{blog_related_content:channel_short_name}/post/{blog_related_content:url_title}{if:elseif blog_related_content:channel_short_name=='articles'}article/{blog_related_content:url_title}{if:elseif blog_related_content:channel_short_name=='columns'}column/{blog_related_content:url_title}{/if}" data-trackevent="Related sidebar: Related by editor">{blog_related_content:title}</a></h2>
					<p>{exp:strip_html}
					{if blog_related_content:channel_short_name=='columns'}
						{if blog_related_content:column_mini_deck}{blog_related_content:column_mini_deck}{if:elseif blog_related_content:column_intro}{exp:trunchtml chars="130" inline="..."}{blog_related_content:column_intro}{/exp:trunchtml}{/if}
					{if:elseif blog_related_content:channel_short_name=='blog'}
						{if blog_related_content:blog_mini_deck}{blog_related_content:blog_mini_deck}{if:elseif blog_related_content:blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_related_content:blog_intro}{/exp:trunchtml}{/if}
					{if:elseif blog_related_content:channel_short_name=='articles'}
						{if blog_related_content:article_mini_deck}{blog_related_content:article_mini_deck}{if:elseif blog_related_content:article_deck}{exp:trunchtml chars="130" inline="..."}{blog_related_content:article_deck}{/exp:trunchtml}{/if}
					{/if}
					{/exp:strip_html}</p>
					</article>
					{/blog_related_content}
				</section>
			{if:else}<!-- if no related articles show categories -->
				{if "{categories}{category_url_title}{/categories}"!=""}
					{embed="embeds/primary-category-logic" id="{entry_id}"}
				{/if}
			{/if}
			{if blog_follow_up == ""}  
				<section class="related-articles">
				{embed="embeds/event-entries"}
				</section>
			{/if}
			</aside>
			{/exp:channel:entries}
