				
				
				<ul class="entry-list">
				{exp:channel:entries category="{embed:cat_id}" offset="{embed:offset}" channel="articles|columns" limit="20" status="open" dynamic="off" paginate="bottom"}
			
					<li>
						{if channel_short_name == "articles"}
						<h3 class="entry-title"><a href="/article/{url_title}">{title}</a></h3>
						{if:else}
						<h3 class="entry-title"><a href="/column/{url_title}">{title}</a></h3>
						{/if}
						<p class="meta">
							by {embed="embeds/article-authors" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"} · 
							{if channel_short_name == "articles"}
							{exp:playa:parents channel="issues"}
							<a href="/issue/{issue_number}">Issue {issue_number}</a> · <time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
							{/exp:playa:parents}
							{if:else}
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
							{/if}
						</p>
						{if channel_short_name == "articles"}
						<p>{exp:strip_html}{article_deck}{/exp:strip_html}</p>
						{if:else}
						<p>{exp:strip_html}{column_intro}{/exp:strip_html}</p>
						{/if}
					</li>
					{paginate} 
					<nav class="paginator" role="toolbar">
						<ul>
			        		{if next_page}
			        			<li><a class="previous" href="{auto_path}">Previous</a></li>
				        	{/if}
			        		{if previous_page}
			            			<li><a class="next" href="{auto_path}">Next</a></li>
			        		{/if}
						</ul>
					</nav>
					{/paginate}
					{/exp:channel:entries}
				</ul>
