{exp:channel:entries channel="blog|link_posts" status="open"}

{if channel_short_name == "blog"}

{exp:redirecturl url="http://alistapart.com/blog/post/{url_title}"}

{/if}


{global-page-top}

	<title>{title} &sect; The A List Apart Blog</title>
	<meta name="description" content="">
	<meta name="author" content="">

</head>

<body>

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry">

			{link-post-content}

		</article>

		{global-footer}

	</div>

{/exp:channel:entries}

{global-page-bottom}