{exp:switchee variable="{segment_2}" parse="inward"}

{case value="#^P(\d+)$#|''|archives"}

{global-page-top}

	<title>The A List Apart Blog</title>

		<link rel="canonical" href="{site_url}/{segment_1}{if segment_2}/{segment_2}{/if}{if segment_3}/{segment_3}{/if}"/>
		{exp:channel:entries limit="10" channel="blog" status="open" dynamic="off" show_future_entries="no" paginate="top"}{paginate}{if next_page}<link rel="next" href="{auto_path}" />{/if}
		{if previous_page}<link rel="prev" href="{auto_path}" />{/if}{/paginate}{/exp:channel:entries}

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info}

	<h1 class="section-title">Our Blog</h1>
	<h2 class="section-sub-title">Quick updates and practical approaches</h2>

	{if segment_2 == ""}

	<div role="main" class="main-wrapper stacker single-column-display">

		<div class="col-holder">

			<article class="main-content">

				{exp:channel:entries channel="blog|link_posts" limit="1"}

				<header class="author-header">

					<span class="column-name featured" itemprop="author" itemscope itemtype="http://schema.org/Person">by {blog_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{blog_authors:url_title}"><span itemprop="name">{blog_authors:title}</span></a>, {/blog_authors}</span>

					<h1><a href="/blog/post/{url_title}">{title}</a></h1>

					<p class="entry-details">

						<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>

						{if comment_total > 0}
						 · <a class="comment-count" href="/blog/post/{url_title}#comments">{comment_total} Comment{if comment_total > 1}s{/if}</a>
						{/if}

					</p>

				</header>

				<p class="column-intro">{blog_intro} <a href="/blog/post/{url_title}">Read&nbsp;more</a></p>

			</article>

		</div>

	</div>

	<div role="main" class="main-wrapper two-column-display no-top">

		<div class="col-holder">

			<section class="main-content">

				{embed="embeds/blog-posts-new" exclude_id="{entry_id}"}

				{/exp:channel:entries}

			</section><!--

			--><div class="secondary-column">

				{more-from-ala-for-blog}

				{ad-bsa-text}

			</div>



		</div>

	</div>

	{if:else}

	<div role="main" class="main-wrapper two-column-display no-top">

		<div class="col-holder">

			<section class="main-content">

				{embed="embeds/blog-posts-new" offset="{segment_2}" exclude_id="0"}

			</section><!--

			--><div class="secondary-column">

				{more-from-ala-for-blog}

				{ad-bsa-text}

			</div>



		</div>

	</div>

	{/if}

{sponsor-top}

{global-footer}

{global-page-bottom}

{/case}

{case default="Yes"}

	{redirect="/blog/post/{segment_2}"}

{/case}

{/exp:switchee}
