<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/_/css/style.css">

	<link rel="stylesheet" href="/_/css/readable.css">

	<script src="/_/js/libs/modernizr-2.5.3.min.js"></script>

	<title>A List Apart</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
</head>

<body>

{global-header}

<div role="main" style="margin-left: 200px;">

	<header>
	
		<h1>The Blog Posts</h1>
	
	</header>

	{exp:channel:entries channel="blog|link_posts" limit="1000" dynamic="off" status="{statuses-all}"}
	
	{if channel_short_name == "blog"}
	{if blog_intro}
	<hr>
	
	<section data-title="Blog Post & Intro">
	
		<p>
			<a href="/blog/post/{url_title}">{title}</a>
			<p>{blog_intro}</p>
		</p>
	
	{if:else}
	<hr>
	
	<section data-title="Blog Post (no intro)">
	
		<p>
			<a href="/blog/post/{url_title}">{title}</a>
			{blog_content}
		</p>
	
	{/if}	
	{if:elseif blog_target_url != ""}
	<hr>
	
	<section data-title="External Link Post & Description">
		
		<p>
			<a href="{blog_target_url}">{title}</a> <small>({exp:parse_url parts="host"}{blog_target_url}{/exp:parse_url})</small><br>
			<p>{blog_description}</p>
		</p>
		
		{if:else}
	<hr>
	
	<section data-title="Link Post & Description">
		
		<p>
			<a href="/blog/post/{url_title}">{title}</a><br>
			<p>{blog_description}</p>
		</p>
		
	{/if}
	
	</section>
	{/exp:channel:entries}

</div>

{current-user-info}

{global-footer}

{global-js}

{page-bottom}