<div class="ajax-container">
ajax loaded {segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}/{segment_6}
	{exp:ajaxauth:login	id="login_form"	name="login_form" class="sign-in-form" return="ajax/comment-form/{segment_3}/{segment_4}/{segment_5}"}

		<fieldset>

	    	<legend class="center">Sign in with your A List Apart account to discuss this article.</legend>

			<p>
				<label for="login-name-here">Email / Username (<a id="register-link" data-tabto="forgot-link" href="/tools/register" target="_blank">need an account?</a>)</label>
				<input
					type="text"
					id="login-name-here"
					name="username"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="who are you?"
					data-tabmaster="true"
					data-tabto="login_password"
					required>
			</p>
			<p class="password-field">
				<label for="login_password">Password (<a id="forgot-link" data-tabto="comment-submit" href="/tools/forgot-password" target="_blank">forgotten it?</a>)</label>
				<input
					type="password"
					id="login_password"
					name="password"
					required="required"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="what's your password?"
					data-tabto="register-link"
					required>
			</p>
			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input 
					type="text" 
					id="honeepot" 
					name="honeepot"
					data-tabmaster="false">
			</p>
			<p>
				<input 
					type="submit" 
					id="comment-submit"
					class="button primary float-left" 
					data-tabmaster="false" 
					value="Submit">
			</p>
			
		</fieldset>

		{loader}{/loader}

	{/exp:ajaxauth:login}

	<script type="text/javascript">

	var states = {
		//globals
		commentsignin: 'comment-sign-in',
		register: 'register',
		password: 'forgot-password',
		commentform: 'comment-form',
		//segments
		{if segment_4 == 'blog'}
		segments: '/{segment_4}/{segment_5}/{segment_6}',
		{/if}
		{if segment_4 != 'blog'}
		segments: '/{segment_4}/{segment_5}',
		{/if}

		entry_id: '/{segment_3}',
		site_url: '{site_url}',
		tmpl_path: /ajax/,
		
	}

	$.when(
	    $.getScript("{site_url}/components/assets/js/form-stuff.js"),
	    $.getScript("{site_url}/components/assets/js/ajax-functions.js"),
	    $.Deferred(function(deferred){
		        $(deferred.resolve);
	    })
	);

	</script>

</div>
