<div class="ajax-container comment-form">

{if logged_in}

	{if segment_4 == 'article'}
		
		{exp:comment:form entry_id="{segment_3}" channel="articles|legacy_articles" return="{site_url}/article/{segment_5}/comment-form" id="comment-form" class="comment-form"}

	{if:elseif segment_4 == 'preview'}

		{exp:comment:form entry_id="{segment_3}" channel="articles|legacy_articles" return="{site_url}/preview/{segment_5}/comment-form" id="comment-form" class="comment-form"}

	{if:elseif segment_4 == 'blog'}

		{exp:comment:form entry_id="{segment_3}" channel="blog" return="{site_url}/blog/post/{segment_6}/comment-form" id="comment-form" class="comment-form"}

	{if:elseif segment_4 == 'column'}

		{exp:comment:form entry_id="{segment_3}" channel="columns" return="{site_url}/column/{segment_5}/comment-form" id="comment-form" class="comment-form"}

	{/if}
		<fieldset>
    		<legend class="center">Discuss this article. We reserve the right to delete flames, trolls, and wood nymphs. <br>(The commenting engine will accept simple HTML tags.)</legend>
			<label id="comment-content">
			<textarea id="comment-content" aria-describedby="comment-content_error" class="logged-in" name="comment"
				data-tabmaster="true"
				data-tabto="comment-submit"
				data-autoresize
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="aww, we know you have something to say"
				required /></textarea>
			</label>
		</fieldset>
		
		<div class="commenter-info">

		<p class="screen-reader">
		  <label for="honeepot">Don't put anything here</label>
		  <input type="text" name="honeepot" id="honeepot" />
		</p>

		<p>
			{embed="embeds/logged-in-user-mini-profile" logged_in_user_name="<?php echo $this->EE->session->userdata['username']; ?>"}
 
			{if segment_4 == 'article'}

				<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='article/{segment_5}/comment-sign-in'}">log out</a>&nbsp;

			{if:elseif segment_4 == 'preview'}

				<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='preview/{segment_5}/comment-sign-in'}">log out</a>&nbsp;

			{if:elseif segment_4 == 'blog'}

				<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='blog/post/{segment_6}/comment-sign-in'}">log out</a>&nbsp;

			{if:elseif segment_4 == 'column'}

				<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='column/{segment_5}/comment-sign-in'}">log out</a>&nbsp;

			{/if}

			<?php 
				$entry_id = '{segment_3}';
				
				$query = $this->EE->db->query("SELECT channel_id FROM exp_channel_data WHERE entry_id = '$entry_id'");
		        if ($query->num_rows() > 0) {
		            $channel_id = $query->row('channel_id');
		        }
		        $query = $this->EE->db->query("SELECT channel_name FROM exp_channels WHERE channel_id = '$channel_id'");
		        if ($query->num_rows() > 0) {
		            $channel_name = $query->row('channel_name');
		        }
			?>
			{if member_group == "1" OR member_group == "7" OR member_group == "8"}
				<?php if( $channel_name == 'articles' ) : ?>
				+&nbsp;<a href="/tools/translations/{segment_5}">add a translation</a>
				<?php elseif( $channel_name == 'legacy_articles' ) : ?>
				+&nbsp;<a href="/tools/legacy-translations/{segment_5}">add a translation</a>
				<?php endif; ?>
			{/if}
		 
		</p>

		
	
		<input id="comment-submit" data-tabto="edit-profile-link" type="submit" value="Submit" class="submit button primary">

		</div>

	{/exp:comment:form}

{/if}

{if logged_out}

	{if segment_4 == 'blog'}
		{exp:ala_auth:login id="login_form" name="login_form" class="sign-in-form" return="ajax/comment-form/{segment_3}/{segment_4}/{segment_5}/{segment_6}" post_process="AlaAuth.alertMsg"}
	{if:else}
		{exp:ala_auth:login id="login_form" name="login_form" class="sign-in-form" return="ajax/comment-form/{segment_3}/{segment_4}/{segment_5}" post_process="AlaAuth.alertMsg"}
	{/if}
		<fieldset>

	    	<legend class="center">Sign in to add your voice to the discussion.</legend>

			<p>
				<label for="login-name-here">Email (<a id="register" class="history-nav" data-tabto="forgot-password" href="/tools/register" target="_blank">Need an account?</a>)</label>
				<input
					type="text"
					id="login-name-here"
					name="username"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s your email address?"
					data-tabmaster="true"
					data-tabto="login_password"
					required>
			</p>
			<p class="password-field">
				<label for="login_password">Password (<a id="forgot-password" class="history-nav" data-tabto="comment-submit" href="/tools/forgot-password" target="_blank">Forgot it?</a>)</label>
				<input
					type="password"
					id="login_password"
					name="password"
					required="required"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s your password?"
					data-tabmaster="true"
					data-tabto="register"
					required>
			</p>
			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input 
					type="text" 
					id="honeepot" 
					name="honeepot"
					data-tabmaster="false">
			</p>
			<p id="comment-submit-holder">
				<input 
					type="submit" 
					id="comment-submit"
					data-tabmaster="true"
					class="button primary float-left" 
					value="Submit">
			</p>
			
		</fieldset>

	{/exp:ala_auth:login}

{/if}

	<script type="text/javascript">

	$.when(
	    $.getScript("{site_url}/components/assets/js/form-stuff.js"),
	    $.getScript("{site_url}/components/assets/js/ajax-functions.js"),
	    $.Deferred(function(deferred){
		        $(deferred.resolve);
	    })
	);
	
	var states = {
			//template specific
			currentstate: 'comment-form',
			//globals
			commentsignin: 'comment-sign-in',
			register: 'register',
			password: 'forgot-password',
			commentform: 'comment-form',
			//segments
			{if segment_4 == 'blog'}
			segments: '/{segment_4}/{segment_5}/{segment_6}',
			{/if}
			{if segment_4 != 'blog'}
			segments: '/{segment_4}/{segment_5}',
			{/if}
			site_url: '{site_url}',
			tmpl_path: /ajax/,
			entry_id: '{segment_3}',
			page: '{segment_4}'
		}

	</script> 

</div>

