<div class="ajax-container forgot-password-form">

	{exp:ajaxauth:password_request id="forgot_password_form" name="forgot_password_form" class="sign-in-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}" post_process="alert_msg"}
	
		<fieldset>

	    	<legend class="center">Forgot your password? We can reset that for you:</legend>

			<p>
				<label for="email">Your email address</label>
				<input 
					type="email"
					id="email" 
					name="email"
					aria-describedby="email_error" 
					autofocus
					data-validate="onblur"
					data-type="email"
					data-isvalid=""
					data-error="are you sure this is your email address?"
					required>
			</p>

			<p>
				<input 
					type="submit" 
					name="submit" 
					value="Reset password" 
					class="button primary float-left"
					data-tabmaster="false">
				<button id="cancel-password-reset" class="button secondary float-left">Cancel</button>
			</p>

		</fieldset>

		{loader}{/loader} 

	{/exp:ajaxauth:password_request}

	<script type="text/javascript">
		$('#cancel-password-reset').on('click', function(event){
			event.preventDefault();
			$('.ajax-container').hide();
			$.get('{site_url}/ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}', 
	        function(ret){
	            $('.ajax-container').replaceWith(ret);
	        });
		});
		$.getScript( "{site_url}/components/assets/js/ajax-functions.js" )
		  .done(function( script, textStatus ) {
		    console.log( textStatus );
		  })
		  .fail(function( jqxhr, settings, exception ) {
		     console.log("Triggered ajaxError handler." + exception);
		});
	</script>

	<script type="text/javascript">

	var states = {
		commentsignin: {
			path: '/ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}',
			url: 'comment-sign-in'
		},
		register: {
			path: '/ajax/register/{segment_3}/{segment_4}/{segment_5}',
			url: 'register',
			clickId: document.getElementById('register-link'),
			backId: document.getElementById('cancel-registration'),
		},
		forgotpassword: {
			path: '/ajax/forgot-password/{segment_3}/{segment_4}/{segment_5}',
			url: 'forgot-password',
			clickId: 'forgot-link',
			backId: 'cancel-password-reset',
		},
		commentform: {
			path: '/ajax/comment-form/{segment_3}/{segment_4}/{segment_5}',
			url: 'comment-form'
		}
	}

	document.getElementById(states.forgotpassword.backId).addEventListener('click', function(event){
		event.preventDefault();
		//hide current template
		hideTemplate();
		//load new template
		loadTemplate(states.commentsignin.path);
		// Add item to the history log
        history.pushState(states.commentsignin, document.title, '?'+states.commentsignin.url);
        // Store the initial content so we can revisit it later
		//history.replaceState(states.commentsignin, document.title, document.location.href);
	}, false);
	
	$.getScript( "{site_url}/components/assets/js/ajax-functions.js" )
	  .done(function( script, textStatus ) {
	    console.log( textStatus );
	  })
	  .fail(function( jqxhr, settings, exception ) {
	     console.log("Triggered ajaxError handler.");
	});

	</script>

</div>



 