<div class="ajax-container forgot-password-form">
{if logged_in}<!-- to account for hitting the back button after logging in-->
	<p>You are already logged in. {if segment_4 == 'article'}<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='article/{segment_5}/comment-sign-in'}">Log out</a>{if:elseif segment_4 == 'blog'}<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='blog/post/{segment_5}/comment-sign-in'}">Log out</a>{if:elseif segment_4 == 'column'}<a id="log-out-link" data-tabmaster="false" href="{exp:freemember:logout_url return='column/{segment_5}/comment-sign-in'}">Log out</a>{/if} or refresh this page.</p>
{/if}
{if logged_out}
	{exp:ajaxauth:password_request id="forgot_password_form" name="forgot_password_form" class="sign-in-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}" post_process="alert_msg"}
	
		<fieldset>

	    	<legend class="center">Forgot your password? We can reset that for you:</legend>

			<p>
				<label for="email">Your email address</label>
				<input 
					type="email"
					id="email" 
					name="email"
					aria-describedby="email_error" 
					autofocus
					data-validate="onblur"
					data-type="email"
					data-isvalid=""
					data-error="are you sure this is your email address?"
					required>
			</p>

			<p>
				<input 
					type="submit" 
					name="submit" 
					value="Reset password" 
					class="button primary float-left"
					data-tabmaster="false">
				<button id="cancel-password-reset" class="button secondary float-left">Cancel</button>
			</p>

		</fieldset>

		{loader}{/loader} 

	{/exp:ajaxauth:password_request}

 	<script type="text/javascript">

	var states = {
		//globals
		commentsignin: 'comment-sign-in',
		register: 'register',
		password: 'forgot-password',
		commentform: 'comment-form',
		//segments
		{if segment_4 == 'blog'}
		segments: '/{segment_4}/{segment_5}/{segment_6}',
		{/if}
		{if segment_4 != 'blog'}
		segments: '/{segment_4}/{segment_5}',
		{/if}
		site_url: '{site_url}',
		tmpl_path: /ajax/,
		entry_id: '/{segment_3}',
	}

	$.when(
	    $.getScript("{site_url}/components/assets/js/form-stuff.js"),
	    $.getScript("{site_url}/components/assets/js/ajax-functions.js"),
	    $.Deferred(function(deferred){
		        $(deferred.resolve);
	    })
	);

	</script>
{/if}
</div>



 