<div class="ajax-container forgot-password-form">ajax
{if logged_out}

	{if segment_4 == 'blog'}
		{exp:ala_auth:forgot_password id="forgot_password_form" name="forgot_password_form" class="sign-in-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}/{segment_6}" post_process="AlaAuth.alertMsg"}
	{if:else}
		{exp:ala_auth:forgot_password id="forgot_password_form" name="forgot_password_form" class="sign-in-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}" post_process="AlaAuth.alertMsg"}
	{/if}
	
		<fieldset>

	    	<legend class="center">Forgot your password? We can reset that for you.</legend>

			<p>
				<label for="email">Email</label>
				<input 
					type="email"
					id="email" 
					name="email"
					aria-describedby="email_error" 
					autofocus
					data-validate="onblur"
					data-type="email"
					data-isvalid=""
					data-error="Are you sure this is the right email address?"
					required>
			</p>
			
			<p id="comment-submit-holder" class="float-left">
					<input 
						type="submit" 
						name="submit"
						id="reset-password" 
						value="Reset password" 
						class="submit button primary"
						data-tabmaster="false">
			</p>
			
			<p>
				<button id="comment-sign-in" class="button secondary float-left history-nav">Cancel</button>
			</p>

		</fieldset>

	{/exp:ala_auth:forgot_password}

{/if}

	<script type="text/javascript">

	$.when(
	    $.getScript("{site_url}/components/assets/js/form-stuff.js"),
	    $.getScript("{site_url}/components/assets/js/ajax-functions.js"),
	    $.Deferred(function(deferred){
		        $(deferred.resolve);
	    })
	);

	var states = {
		//globals
		commentsignin: 'comment-sign-in',
		register: 'register',
		password: 'forgot-password',
		commentform: 'comment-form',
		//segments
		{if segment_4 == 'blog'}
		segments: '/{segment_4}/{segment_5}/{segment_6}',
		{/if}
		{if segment_4 != 'blog'}
		segments: '/{segment_4}/{segment_5}',
		{/if}
		site_url: '{site_url}',
		tmpl_path: /ajax/,
		entry_id: '{segment_3}'
	}

	</script>

{if logged_in}<!-- account for hitting the back button after the comment-form -->

	<script type="text/javascript">

	AlaAuth.loadTemplate (
		states.commentform
	);
	
	</script>

{/if}

</div>


 