<div class="ajax-container">
{if logged_out}

	{if segment_4 == 'blog'}
		{exp:ala_auth:register id="sign-in-form" name="register_form" class="register-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}/{segment_6}" post_process="AlaAuth.alertMsg"}
	{if:else}
		{exp:ala_auth:register id="sign-in-form" name="register_form" class="register-form" return="ajax/comment-sign-in/{segment_3}/{segment_4}/{segment_5}" post_process="AlaAuth.alertMsg"}
	{/if}
		<fieldset>

    	<legend class="center">Create an <cite>A List Apart</cite> account to add your voice to the discussion.</legend>
		
			<p>
				<label for="screen_name">Screen name <span class="undertone">(required)</span></label>
				<input 
					type="text"
					id="screen_name" 
					name="screen_name"
					aria-describedby="screen-name_error"
					data-validate="onblur"
					data-type="any" 
					data-isvalid=""
					data-error="What’s your screen name?"
					data-tabmaster="true"
					data-tabto="email"
					autofocus
					required>
				<span class="note">Your name as it will appear on <cite>A List Apart</cite>.</span>
			</p>

			<p>
				<label for="email">Email <span class="undertone">(required)</span></label>
				<input 
					type="email"
					id="email" 
					name="email"
					value="{email}" 
					aria-describedby="email_error"
					data-validate="onblur"
					data-type="email"
					data-isvalid="{if email}yes{/if}"
					data-error="Are you sure this is your email address?"
					data-tabmaster="true"
					data-tabto="password"
					required>
			</p>

			<p class="hide-from-js">
				<label for="username">Email confirmation <span class="undertone">(required)</span></label>
				<input 
					type="text"
					id="username" 
					name="username"
					aria-describedby="username_confirm_error"
					data-validate="onblur"
					data-type="matching"
					data-mustmatch="email" 
					data-isvalid=""
					data-error="This needs to match the previous field."
					autofocus
					required>
			</p>

			<p class="password-field">
				<label for="password">Password <span class="undertone">(required)</span></label>
				<input 
					type="password"
					id="password" 
					name="password"
					value=""
					aria-describedby="password_error"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s your new password?"
					data-tabmaster="true"
					data-tabto="submit"
					required>
				<span class="note">At least six characters. Consider using a phrase—it’s more secure.</span>
			</p>

			<p class="password-field hide-from-js">
				<label for="password_confirm">Confirm password <span class="undertone">(required)</span></label>
				<input
					type="password"
					id="password_confirm"
					name="password_confirm"
					value=""
					aria-describedby="password_confirm_error"
					data-validate="onblur"
					data-type="matching"
					data-mustmatch="password"
					data-isvalid="yes"
					data-error="This needs to match the previous field."
					required>
				<span class="note">This needs to match the password you just entered.</span>
			</p>

			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input
					type="text"
					id="honeepot"
					name="honeepot"
					data-tabmaster="false">
			</p>
			
			<p id="comment-submit-holder" class="float-left">
				<input 
					type="submit"
					id="submit" 
					name="submit" 
					value="Submit" 
					class="submit button primary float-left">
			</p>
			
			<p>
				<button id="comment-sign-in" class="button secondary float-left history-nav">Cancel</button>
			</p>
			
		</fieldset>

	{/exp:ala_auth:register}

{/if}

	<script type="text/javascript">

	$.when(
	    $.getScript("{site_url}/components/assets/js/form-stuff.js"),
	    $.getScript("{site_url}/components/assets/js/ajax-functions.js"),
	    $.Deferred(function(deferred){
		        $(deferred.resolve);
	    })
	);

	var states = {
		//globals
		commentsignin: 'comment-sign-in',
		register: 'register',
		password: 'forgot-password',
		commentform: 'comment-form',
		//segments
		{if segment_4 == 'blog'}
		segments: '/{segment_4}/{segment_5}/{segment_6}',
		{/if}
		{if segment_4 != 'blog'}
		segments: '/{segment_4}/{segment_5}',
		{/if}
		site_url: '{site_url}',
		tmpl_path: /ajax/,
		entry_id: '{segment_3}',
		page: '{segment_4}'
	}

	</script>

{if logged_in}<!-- account for hitting the back button after the comment-form -->

	<script type="text/javascript">

	AlaAuth.loadTemplate (
		states.commentform
	);
	
	</script>

{/if}
</div>
 
