{exp:channel:entries channel="articles|legacy_articles|blog|columns" url_title="{segment_3}" limit="1" show_future_entries="yes" status="open|In Progress"}ajax
	{if article_translations OR member_group == "1" || member_group == "6" || member_group == "7" || member_group == "8"}
	<div class="minutiae-block translation-block" data-loaded>

		<h1>Translations</h1>
		<ul>
			{article_translations}
			<li><a href="{cell_2}">{cell_1}</a></li>
			{/article_translations}
			{if member_group == "1" || member_group == "6" || member_group == "7" || member_group == "8"}
			<li><a href="/tools/translations/{url_title}">+ add a link</a></li>
			{/if}
		</ul>

	</div>
	{/if}
{/exp:channel:entries}