@media only screen and (max-width: 47.9375em) { /* 767px */
	
	.two-column-display .main-content, 
	.two-column-display .secondary-column {
		display: block;
		width: auto;
		margin-left:0;
		margin-right: 0;
	}
	
	.item-summary {
		width: 49%;
	}
	
	.item-summary:nth-of-type(2n) figure,
	.item-summary:nth-of-type(2n) h1,
	.item-summary:nth-of-type(2n) h2,
	.item-summary:nth-of-type(2n) p,
	.item-summary:nth-of-type(2n) ul {
		margin-right: 0;
	}
	
	.item-summary:nth-of-type(3n) figure,
	.item-summary:nth-of-type(3n) h1,
	.item-summary:nth-of-type(3n) h2,
	.item-summary:nth-of-type(3n) p,
	.item-summary:nth-of-type(3n) ul {
		margin-right: 24px;
	}
	
	.variable-column, .variable-column:first-child {
		width: auto;
	}
	
	.variable-column .item-summary {
		width: auto;
	}
	
}


@media only screen and (max-width: 37.5em) { /* 600px */

	html, body {
		font-size:18px;
		line-height:26px;
	}
	
	.sponsor-top,
	.secondary-column .sponsor-top {
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: 41px;
		padding: 0;
		background: none;
		border-radius: 0;
		box-shadow: none;
		text-align: left;
		vertical-align: middle;
	}
	
	.secondary-column .sponsor-top {
		margin-top: -156px;
	}
	
	.sponsor-top.sponsor-alt {
		right: auto;
		height: auto;
		text-align: left;
	}
	
	.sponsor-top p {
		margin: 1px 12px 0 0;
		line-height: 18px;
		font-size: 14px;
		text-align: left;
		padding-right: 12px;
	}
	
	.sponsor-top.sponsor-alt p {
		margin: 0 12px;
		line-height: 18px;
		font-size: 12px;
		
		width: auto;
	}
	
	.sponsor-top .sponsor-logo {
		display: inline-block;
		vertical-align: top;
		left: auto;
		max-height: 32px;
		max-width: 70px;
		margin-top: 6px;
		margin-right: 6px;
	}
	
	.sponsor-top.sponsor-alt .sponsor-logo {
		margin-top: 0;
	}
	
	.sponsor-top .sponsor-extended, .sponsor-top .sponsor-url {
		display: none;
	}
	
	.sponsor-top.sponsor-alt .sponsor-extended {
		display: inline-block;
	}
	
	.global-nav {
		position: static;
		padding: 0;
		border-top: 1px solid #222;
	}
	
	.global-nav.deluxe {
		position: absolute;
		display: none;
		top: 41px;
		left: 0;
		border-top: none;
	}
	
	.global-nav:target {
		-webkit-animation: none;
		-moz-animation:  none;
	}
	
	.show-nav .global-nav.deluxe {
		display: block;
	}

	.global-nav ul.inline-items li {
		display: inline;
		margin-right: 0;
		padding: 0;
	}
	
	.global-nav .back-to-top {
		display: inline;
	}
	
	.global-nav.deluxe .back-to-top {
		display: none;
	}
	
	.global-nav .head-east-young-man {
		z-index: 200;
		top: 8px;
	}
	
	.global-nav ul.inline-items li a {
		display: block;
		padding: 0 12px;
		background: #fff;
		background: rgba(255,255,255,.95);
		border-bottom: 1px solid #eee;
	}
	
	.global-nav li:first-child a {
		width: auto;
		text-indent: 0;
		background-image: none;
	}

	.global-nav .head-east-young-man {
		float: none;
		position: static;
	}

	.global-nav .main-search {
		padding: 0 12px;
		border-radius: 0;
		line-height: 42px;
		text-align: left;
		background: #fff;
		background: rgba(255,255,255,.95);
		border-bottom: 1px solid #ddd;
	}

	.global-nav .main-search input[type=search] {
		display: inline-block;
		vertical-align: middle;
		width: 80% !important;
		width: calc(100% - 32px) !important;
		padding: 3px 1px !important;
		opacity: 1;
		background: transparent;
		font-size: 16px;
		border-radius: 0;
	}

	.global-nav .main-search label.submit-search {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0;
		width: auto;
		height: auto;
		padding: 14px 10px 12px 12px;
		background: #000;
	}

	.global-nav .main-search label.submit-search input {
		display: block;
		visibility: visible;
		opacity: 1;
		background: #000;
		padding: 4px;
		border-radius: 50%;
	}
	
	.killer-logo > a {
		margin-left: -25%;
	}
	
	.go-to-nav {
		position: absolute;
		display: block;
		z-index: 100;
		top: 0;
		width: 100%;
		height: 41px;
		background-color: #fff;
		background-color: rgba(255,255,255,.95);
		background-image: url(../img/icon_hamburger.svg);
		background-repeat: no-repeat;
		background-position: 12px center;
		border-bottom: 1px solid #d8d8d8;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	.no-svg .go-to-nav {
		background-image: url(../img/icon_hamburger.gif);
	}
	
	.show-nav .go-to-nav:before {
		content: "";
		 position: absolute;
		 width: 18px;
		 height: 18px;
		 top: 11px;
		 left: 12px;
		 z-index: -1;
		 background: url(../img/icon_hamburger.svg) center center no-repeat white;
		 -webkit-transform: rotate(90deg);
		 -moz-transform: rotate(90deg);
		 -ms-transform: rotate(90deg);
		 -o-transform: rotate(90deg);
		 transform: rotate(90deg);
	}
		
	.single-column-display .main-content {
		padding-right: 0;
	}
	
	.single-column-display .col-holder, .two-column-display .col-holder, .multi-column-display .col-holder {
		padding-left: 18px;
		padding-right: 18px;
	}
	
	.classy {
		font-size: 24px;
		line-height: 30px;
	}
	
	.column-holder {
		margin-left: 18px;
		margin-right: 18px;
	}
	
	.two-column-display .main-content, .two-column-display .secondary-column {
		display: block;
		width: auto;
		margin-left:0;
		margin-right: 0;
	}
	
	pre code {
		font-size: 14px;
	}
	
	.main-content .basic-title {
		margin-bottom: 24px;
		font-size: 24px;
		line-height: 30px;
	}

	/* ----------------------	HOME AND ISSUES	 ---------------------- */
	
	.issue-header {
		margin-bottom:12px;
	}
	
	.home-page .entry-header {
		margin-bottom: 24px;
	}
	
	.issue-header, .home-page .entry-header, .issue-page .entry-header {
		margin-left: 18px;
		margin-right: 18px;
		width: auto;
	}
	
	.home-page .entry-header .entry-title, .issue-page .entry-header .entry-title {
		margin: 0 0 6px 0;
		font-size: 30px;
		line-height: 36px;
	}
	
	.home-page .entry-header .entry-title:first-child,
	.issue-page .entry-header .entry-title:first-child {
		padding: 0 12px;
	}
	
	.home-page .entry-header .entry-title a, .issue-page .entry-header .entry-title a {
		font-size:30px;
		line-height: 36px;
	}
	
	.home-page .entry-header .entry-summary, .issue-page .entry-header .entry-summary {
		font-size: 18px;
		line-height: 28px;
	}
	
	.item-summary > figure, .item-summary > h1, .item-summary > h2, .item-summary > p, .item-summary > ul {
		margin-right: 0;
	}
	
	/* ----------------------	ARTICLES  ---------------------- */
	
	.wide-hero {
		min-height: 100px;
		padding-bottom: 24px;
		margin-bottom: 3px;
		margin-left: 18px;
		margin-right: 18px;
		margin-top: 12px;
	}
	
	.entry-header {
		margin-left: 18px;
		margin-right: 18px;
	}
	
	.entry-header .issue-number span, .issue-page .logo-holder + .issue-number span, .wide-hero .issue-number span, .tall-hero .issue-number span {
		width: auto;
		height: auto;
		position: static;
		color: #bb3825;
		padding: 0;
		font-size:18px;
	}
	
	.entry-header .issue-number, .wide-hero .issue-number, .tall-hero .issue-number, .issue-page .logo-holder + .issue-number {
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background: none;
		background-image: none;
		color: #bb3825;
		padding: 0;
		font-size:18px;
		font-family: "Georgia Pro";
	}
	
	.no-svg .entry-header .issue-number,
	.no-svg .wide-hero .issue-number,
	.no-svg .tall-hero .issue-number,
	html[data-useragent*='MSIE'] .entry-header .issue-number,
	html[data-useragent*='MSIE'] .wide-hero .issue-number,
	html[data-useragent*='MSIE'] .tall-hero .issue-number {
		background-image: none;
	}

	
	.entry-header > .issue-number:first-child, .issue-page .logo-holder + .issue-number {
		left: 0;
		top: 144px;
	}

	.issue-header p {
		font-size: 14px;
		line-height: 24px;
	}
	
	.entry-header {
		margin-bottom:24px;
	}
	
	.entry-header .entry-title {
		font-size:30px;
		line-height: 36px;
		padding: 0 12px;
		margin-bottom: 6px;
	}
	
	.entry-header .entry-details {
		font-size: 14px;
		line-height: 22px;
	}
	
	.article-layout .main-content {
		margin-left: 18px;
		margin-right: 18px;
	}
	
	.article-layout .main-content > p:first-child:not(.buttonish-holder):not(.editors-note), .article-layout .main-content > figure.quote:first-child {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 24px;
	}
	
	.article-layout .main-content > p.editors-note {
		font-size: 14px;
		line-height: 22px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.article-layout .main-content > p.editors-note.column-note {
		font-size: 14px;
		line-height: 24px;
	}
	
	.article-layout .main-content > figure.quote:first-child figcaption {
		font-size: 14px;
		line-height: 24px;
	}
	
	.article-layout .main-content > h2 {
		font-size: 20px;
		margin-bottom: 14px;
		line-height: 28px;
	}
	
	.article-layout .main-content > h3 {
		font-size: 16px;
		/* margin-bottom: 14px; */
		line-height: 28px;
	}
	
	.main-content > p, .main-content > pre, .main-content > ol, .main-content > ul, .main-content > figure, .main-content .entry-footnotes {
		margin-bottom: 18px;
	}
	
	.main-content ul > li, .main-content ol > li {
		margin-bottom: 9px;
	}
	
	.item-summary.topic ul > li, .content-minutiae ul > li {
		margin-bottom: 0;
	}
	
	.content-minutiae {
		margin: 0 0 18px 18px;
	}
	
	.article-layout .entry-footer {
		margin-left: 18px;
		margin-right: 18px;
	}
	
	.entry-footer h1, 
	.entry-footer h2,
	.entry-footer h3,
	.entry-footer .byline .author-bio, 
	.entry-footer .byline .author-more {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
	}
	
	.entry-footer .photo + h2, .entry-footer .photo + h2 + .author-bio, .entry-footer .photo + h2 + .author-bio + h3 + .author-more {
		margin-left: 0;
	}
	
	.entry-footer .byline img {
		float: left;
		margin-bottom: 0;
		width: 60px;
		height: 60px;
	}
		
	.entry-footer .photo + h2, .entry-footer .photo + h2 + .author-bio, .entry-footer .photo + h2 + .author-more {
		margin-left: 0;
	}
	
	.entry-footer .photo + h2, .entry-footer .photo + h2 + .author-bio, .entry-footer .photo + h2 + .author-bio + h3, .entry-footer .photo + h2 + .author-bio + h3 + .author-more {
		margin-left: 0;
	}
	
	.item-summary {
		width: auto; 
		margin-right: 0;
	}
	
	.item-summary:nth-of-type(2n) {
		margin-right: 0;
	}
	
	.item-summary:nth-of-type(3n) {
		margin-right: 0;
	}
	
	.item-summary:not(.topic) {
		width: auto; 
		margin-right: 0;
	}
	
	.item-summary > figure {
		height: auto;
	}
	
	.item-summary figure a {
		display: block;
	}
	
	.item-summary figure a img {
		min-width: 100%;
	}

	.comment-holder h1.classy, .more-content h1.classy {
		font-size: 24px;
		line-height: 30px;
		font-weight: 300;
	}
	
	.article-comments #login-buttons.active {
		height: 145px;
	}
	
	.article-comments #login-buttons li {
		margin-bottom: 9px;
	}
	
	html:not(.no-js) .buttonish {
		margin-bottom: 24px;
		padding: 2px 24px;
		background: #2455c3;
		color: transparent;
	}
	
	html:not(.no-js) .buttonish:before {
		display: none;
	}
	
	html:not(.no-js) .buttonish:after {
		content: "Load Comments";
		text-indent: 0;
	}
	
	.article-layout .main-content .sidebar {
		margin: 0 0 18px 18px;
		padding: 12px;
		font-size: 12px;
		line-height: 20px;
	}
	
	.article-layout .main-content .sidebar h1 {
		font-size: 12px;
	}
	
	.article-layout .main-content .sidebar h2 {
		font-size: 14px;
	}
	
	.alpha-container {
		height: 320px;
	}

	
	/* ----------------------	COLUMNS	 ---------------------- */
	
	.author-header {
	}
	
	.author-header img {
		top: 4px;
		width: 60px;
		height: 60px;
	}

	.author-header {
		padding-left: 72px;
		min-height: 60px;
	}
	
	.author-header p.meta, .blog-header p.meta {
		line-height: 24px;
	}
	
	.author-header .column-name, .author-header h1, .author-header p.meta {
	}
	
	.author-header .column-name {
		line-height:18px;
	}
	
	.author-header h1, .blog-header h1 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 4px;
	}
	
	.author-header + .column-intro, .blog-header + .column-intro {
		font-size: 18px;
		line-height: 30px;
	}
	
	/* ----------------------	BLOG  ---------------------- */
	
	.article-layout .blog-header, .article-layout .author-header {
		margin-left: 18px;
		margin-right: 18px;
		width: auto;
		max-width: none;
	}
	
	.sponsored .article-layout .blog-header,
	.article-layout .blog-header {
		margin-left: 18px;
		padding-left: 0;
	}
	
	.blog-summary {
		margin: 0 0 24px;
		padding: 0;
		font-size: 18px;
		line-height: 28px;
	}
	
	.blog-summary.link-post {
		padding-left: 0;
	}
	
	.blog-summary h1 {
		font-size: 24px;
		text-indent: 0;
		margin-bottom:2px;
	}
	
	.blog-summary.native-post .byline {
		font-size: 14px;
		line-height: 24px;
		font-style: italic;
	}
	
	.blog-summary.link-post h1:before {
		width: 14px;
		height: 14px;
	}

	/* ----------------------	FOOTER	---------------------- */
	
	.global-footer {
	}

	.deadly-subtitle {
	}
	
	.deadly-subtitle img {
		width: auto;
		max-width: none;
		margin-left: 0;
	}

	.global-footer .inline-items {
		padding-left: 18px;
		padding-right: 18px;
	}

	.global-footer .inline-items li {
		margin-right: 12px;
	}
	
	.promo-holder {
		/* background: transparent; */
		padding-left: 18px;
		padding-right: 18px;
	}

	.partner-promos li {
		display: block;
		width: auto;
		margin-bottom: 12px;
	}

}

@media only screen and (max-width: 30.6875em) { /* 491px */

	.article-layout .main-content .supplement {
		float: none;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
}

@media only screen and (max-width: 20em) { /* 320px */
	
	body {
		font-family: "Georgia Pro Cond";
	}
	
	.global-nav {
		/* font-size:12px; */
	}
	
	.entry-header .entry-details {
		font-size: 14px;
		line-height: 20px;
	}
	
	.article-layout .main-content > p:first-child:not(.buttonish-holder):not(.editors-note), .article-layout .main-content > figure.quote:first-child {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 22px;
	}
	
	.article-layout .main-content > p.editors-note {
		line-height: 20px;
	}
	
	.article-layout .main-content > * b,
	.article-layout .main-content > * strong {
		font-family: "Georgia Pro Cond";
		font-weight: bold;
	}
	
	.author-header h1, blog-header h1 {
		font-size: 24px;
		line-height: 28px;
		margin-top: 2px;
		/* margin-bottom: 2px; */
	}
	
	.author-header p.meta, .blog-header p.meta {
		line-height: 22px;
	}
	
	.partner-promos li img {
		width: 60px;
		height: 45px;
		margin-right: 6px;
	}
	
	.partner-promos .arrow {
		margin-left: 66px;
	}
	
}
