* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* take control over placeholders */
::-webkit-input-placeholder {
   color: #a9a9a9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a9a9a9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a9a9a9;  
}

/* doesn't work on all elements (???) so removing for now
:-ms-input-placeholder {  
   color: #a9a9a9;
} */

:focus::-webkit-input-placeholder {
	color: #bebebe;
}

:focus:-moz-placeholder { /* Firefox 18- */
   color: #bebebe;  
}

:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #bebebe;  
}

input[readonly] {
	border-color: #ddd !important;
	color: #aaa !important;
}

.no-js .hide-from-no-js {
	display: none;
}

/* doesn't work on all elements (???) so removing for now
:focus:-ms-input-placeholder {  
   color: #bebebe;
} */

body {
	width: 45%;
	min-width: 370px;
	margin: 100px auto;
	font-size: 16px;
	line-height: 1.4em;
	font-family: Helvetica;
	color: #555;
}

kbd {
	padding: 0 4px;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: .8em;
}

kbd,
code {
	font-family: 'Menlo', courier;
}

h1 {
	font-size: 1.4em;
	line-height: 1em;
	margin-bottom: 2em;
	color: #000;
}

h1 img {
	display: inline-block; 
	height: 40px; 
	width: auto; 
	vertical-align: middle; 
	margin-right: 9px; 
	margin-top: -10px;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 1.3em;
}

h3 {
	font-size: .8em;
	margin-bottom: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
}

h4 {
	font-size: .8em;
	margin-bottom: 1.3em;
}

header  {
	font-size: 1.4em;
	margin-bottom: 2em;
}

header h1 {
	margin-bottom: .5em;
}

header p {
	font-size: .75em;
}

.js .hide-if-js {
	display: none;
}

ul,
p,
pre {
	margin-bottom: 1.7em;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.good-show {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(23,187,91,1);
	padding: .4em 1em;
	border: 1px solid rgba(23,187,91,0.3);
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0px 0px 9px -4px  rgba(23,187,91,0.3);
}

.note {
	position: relative;
	z-index: -10;
	display: block;
	margin-top: 6px;
	font-size: 1em;
	line-height: 1.6em;
	font-style: italic;
	color: #999;
}

label + .note {
	margin-top: -2em;
	margin-bottom: 2em;
}

fieldset {
	margin-bottom: 2em;
}

.scrolling-checkboxes {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: none;
	max-height: 150px;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
}

fieldset.check-radio label {
	margin-bottom: .5em;
}

fieldset.check-radio input {
	font-size: 2em;
	margin: 0 3px;
	vertical-align: text-bottom;
}

fieldset.check-radio.customized label,
fieldset.select-field.customized label {
	position: relative;
	padding-left: 28px;
}

fieldset.check-radio.customized .scrolling-checkboxes label {
	padding: .4em .4em .4em 18px;
	margin: 0;
	white-space: nowrap;
}

fieldset.check-radio.customized .scrolling-checkboxes label:active {
	color: #999;
}

fieldset.check-radio.customized .scrolling-checkboxes label:nth-of-type(odd) {
	background: #eee;
}

fieldset.check-radio.customized input[type="checkbox"],
fieldset.check-radio.customized input[type="radio"] {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

fieldset.check-radio.customized input[type="checkbox"] + label:before,
fieldset.check-radio.customized input[type="radio"] + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	display: block;
	width: 1.65em;
	height: 1.65em;
	margin: -.4em 1em 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	font-size: 1em;
	line-height: 11px;
	text-indent: 4px;
	background: #fff;
	cursor: pointer;
}

fieldset.check-radio.customized input[type="checkbox"]:focus + label:before,
fieldset.check-radio.customized input[type="radio"]:focus + label:before {
	outline: 1px dotted #333;
}

fieldset.check-radio.customized .scrolling-checkboxes input[type="checkbox"] + label:before {
	top: 8px;
	left: 9px;
	display: none;
}

fieldset.check-radio.customized input[type="radio"] + label:before {
	border-radius: 50%;
}

fieldset.check-radio.customized input[type="radio"]:active + label:before {
	border: 1px solid #999;
}

fieldset.check-radio.customized input[type="checkbox"]:active + label:after {
	background: #ddd;
	color: #aaa;
}

fieldset.check-radio.customized input[type="checkbox"] + label:after {
	content: "";
	position: absolute;
	z-index: 100;
	display: block;
	width: 1em;
	height: 1em;
	top: .15em;
	left: .2em;
	border-radius: 2px;
	background: #eee;
	color: #222;
	font-weight: bold;
	text-indent: .15em;
	line-height: 1em;
	font-size: 1.4em;
}

fieldset.check-radio.customized input[type="checkbox"]:checked + label:after {
	content: "✓";
	background: #ddd;
}

fieldset.check-radio.customized .scrolling-checkboxes input[type="checkbox"]:checked + label:after {
	content: "✓";
	top: 4px;
	left: 5px;
	background: transparent;
}

fieldset.check-radio.customized input[type="radio"]:checked + label:after {
	content: "";
	position: absolute;
	display: block;
	width: 7px;
	height: 7px;
	top: 5px;
	left: 4px;
	border-radius: 50%;
	background: #666;
}

label.select-field.customized {
	position: relative;
	display: inline-block;
	width: auto;
}

label.select-field.customized:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 2.6em;
	right: .8em;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #999 transparent transparent transparent;
	pointer-events: none;
}

label.customized select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	padding: .4em 3.8em .4em .8em;
	font-size: .8em;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: .3em;
	color: #666;
	outline: 0;
	opacity: 1;
	cursor: pointer;
	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

label.customized select[multiple] {
	min-height: 93px;
	padding: .4em;
	font-size: .8em;
}

label.customized select[multiple] option:nth-child(odd) {
	background: #eee;
}

label.select-field.customized select::-ms-expand {
    display: none;
}

/* some firefox and IE fixes */
html[data-useragent*='Firefox'] label.select-field.customized:before {
	content: "";
	position: absolute;
	z-index: 9;
	top: 2.5em;
	right: .6em;
	width: 22px;
	height: 18px;
	background: #fff;
	pointer-events: none;
}

html[data-useragent*='Firefox'] label.select-field.customized:after {
	z-index: 10;	
	top: 2.9em;
	right: .9em;
}

html[data-useragent*='Firefox'] label.select-field.customized select,
html.ie-lt10 label.select-field.customized select {
	padding-right: .8em;
}

/* giving up on making the triangle work in IE9 */
html.ie-lt10 label.select-field.customized:before,
html.ie-lt10 label.select-field.customized:after {
	display: none;
}

label.select-field.customized select:active:not([readonly]),
label.select-field.customized select:focus:not([readonly]),
label.multi-select-field.customized select:active:not([readonly]),
label.multi-select-field.customized select:focus:not([readonly]) {
	border: 1px solid #999;
}

fieldset.address label {
	width: 50%;
}

hr {
	height: 0;
	border: 0;
	margin: 60px auto;
}

hr:after {
	content: "";
	display: block;
	width: 25%;
	height: 0;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}

legend + * {
	padding-top: 3px; /* obviates most legend margin oddities */
}

label, legend {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 2em;
	font-size: .8em;
}

label.half-width {
	width: 50%;
}

label.half-width input {
	display: inline-block;
}

select {
	display: block;
	max-width: 100%;
	min-width: 200px;
	padding: 0.5em 0 0.3em; /* this is for firefox; seems to have no effect in webkit */
}

input {
	display: inline-block;
	max-width: 100%;
}

input[type='submit'],
input[type='button'],
button {
	-webkit-appearance: none;
	position: relative;
	padding: .7em 1em;
	border: 1px solid #ccc;
	border-radius: .3em;
	font-size: .9em;
	background: #fff;
	color: #666;
	text-decoration: none;
	overflow: hidden;
	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

button .label {
	position: relative;
	z-index: 1;
	opacity: 1;
	
	-webkit-transition: opacity 300ms 1000ms ease;
	-moz-transition: opacity 300ms 1000ms ease;
	-ms-transition: opacity 300ms 1000ms ease;
	-o-transition: opacity 300ms 1000ms ease;
	transition: opacity 300ms 1000ms ease;
}

button.submitting .label {
	opacity: 0;
	
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-ms-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
}

button .spinner {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url(../img/spinner_2.gif) center no-repeat;
	opacity: 0;
	
	-webkit-transition: opacity 300ms 1000ms ease;
	-moz-transition: opacity 300ms 1000ms ease;
	-ms-transition: opacity 300ms 1000ms ease;
	-o-transition: opacity 300ms 1000ms ease;
	transition: opacity 300ms 1000ms ease;
}

button.submitting .spinner {
	opacity: 1;
	
	-webkit-transition: opacity 300ms ease-in-out;
	-moz-transition: opacity 300ms ease-in-out;
	-ms-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

input[type='submit']:hover,
input[type='button']:hover,
button:hover {
	color: #222;
	border-color: #999;
}

input[type='submit']:focus,
input[type='button']:focus,
button:focus {
	outline: 1px dotted #000;
}

a.buttonish {
	padding: .4em;
	background: #eee;
	color: #666;
	text-decoration: none;
	border-radius: 3px;
	transition: all 200ms ease-in-out;
}

a.buttonish:hover {
	color: #222;
	background: #ededed;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 100%;
	display: block;
	padding: .7em 1em;
	border: 1px solid #ccc;
	border-radius: .3em;
	
	font-family: 'Menlo', courier;
	font-size: 1.1em;
	line-height: 1em;
	color: #666;
	outline: 0;
	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

input.short {
	width: 100px;
}

fieldset figure {
	margin: 1em 0;
	padding: 1em;
	text-align: center;
	background: #eee;
}

textarea {
	display: block;
	width: 100%;
	min-height: 90px;
	margin: 0 auto;
	
	padding: .7em 1em;
	border: 1px solid #ccc;
	border-radius: .4em;
	
	font-family: 'Menlo', courier;
	font-size: 1em;
	line-height: 1.7em;
	color: #666;
	outline: 0;
	
	-webkit-transition: all 200ms ease-in-out, height 100ms ease-in-out;
	-moz-transition: all 200ms ease-in-out, height 100ms ease-in-out;
	-ms-transition: all 200ms ease-in-out, height 100ms ease-in-out;
	-o-transition: all 200ms ease-in-out, height 100ms ease-in-out;
	transition: all 200ms ease-in-out, height 100ms ease-in-out;
}

label > select,
label > input[type='text'],
label > input[type='email'],
label > input[type='password'],
label > textarea {
	margin-top: 3px;
}

.js textarea[data-autoresize] {
	resize: none;
}

textarea:not([data-autoresize]) {
	-webkit-transition: all 200ms ease-in-out, height 0;
	-moz-transition: all 200ms ease-in-out, height 0;
	-ms-transition: all 200ms ease-in-out, height 0;
	-o-transition: all 200ms ease-in-out, height 0;
	transition: all 200ms ease-in-out, height 0;
}

input:not([type='checkbox']):not([type='radio']):focus:not([readonly]),
textarea:focus:not([readonly]) {
	color: #000;
	border: 1px solid #999;
}

.auto-populated input,
.auto-populated select,
.auto-populated textarea {
	background: #cfc;
}

.valid input,
.valid select,
.valid textarea {
	background: #cfc;
}

.error-message {
	position: absolute;
	z-index: -1;
	top: 4.8em;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	display: block;
	padding: 0 2em;
	color: #fff;
	font-size: 1em;
	line-height: 1.8em;
	background: #999;
	border-bottom-right-radius: .3em;
	border-bottom-left-radius: .3em;
	text-align: left;
	white-space: nowrap;
	box-shadow: 0px 0px 9px -4px rgba(0,0,0,.5);
	transition: transform 300ms ease-out;
}

.invalid .error-message{
	transform: translateX(-50%) translateY(0);
}

.invalid:after {
	content: '!';
	position: absolute;
	z-index: -1;
	top: 1.4em;
	left: 99%;
	left: calc(99% + 1px);
	display: block;
	height: 2em;
	height: calc(2em - 1px);
	width: .8em;
	padding: 0 .2em;
	color: #fff;
	font-size: 1.4em;
	line-height: 2em;
	font-weight: bold;
	background: #c18686;
	border: 1px solid #c18686;
	border-radius: .3em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-align: center;
}

.invalid input,
.invalid select,
.invalid textarea {
	background: #fee;
	border-color: #c18686;
}

@media only screen and (max-width: 460px) {

body {
	padding: 0 2em;
}

h1 {
	font-size: 1em;
}

}