.sponsor-top {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 72px;
	right: 24px;
	width: 180px;
	text-align: center;
	padding: 12px 0 6px;
	border-radius: 6px;
	background: #fff;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 1280px) {

	.sponsor-top {
		right: auto;
		left:50%;
		margin-left: 432px;		
	}

}

.sponsor-top .sponsor-logo {
	display: block;
	max-width: 90%;
	max-width: calc(100% - 24px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

.sponsor-top .sponsor-intro, 
.sponsor-lower .sponsor-intro {
	font-style: italic;
	display: block;
	font-size: 10px;
	color: #666;
}

.sponsor-top .sponsor-name, 
.sponsor-lower .sponsor-name{
	text-transform: uppercase;
	font-family: "Franklin ITC Pro Bold", sans-serif;
	font-weight: bold;
}

.sponsor-top .sponsor-url, 
.sponsor-lower .sponsor-url {
	display: block;
	font-size: 10px;
}

.sponsor-top p {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	margin: 0 12px;
	font-family: "Franklin ITC Pro Light", sans-serif;
	font-weight: normal;
}

.job-board, 
.sponsor-lower {
	margin: 36px 0;
	font-size: 14px;
	line-height: 24px;
	font-family: "Franklin ITC Pro Light", sans-serif;
	font-weight: normal;
	font-style: normal;
}

.job-board h4, 
.sponsor-lower h4 {
	text-transform: uppercase;
	font-family: "Franklin ITC Pro Bold";
	font-weight: normal;
	color: #bb3825;
}