{exp:channel:entries category="{segment_2_category_id}" require_entry="yes" channel="articles|columns" limit="1" status="open" dynamic="no"}

{if no_results OR segment_2_category_name == ""}
{redirect="404"}
{/if}

{global-page-top}

	<title>A List Apart Articles about {segment_2_category_name}</title>

	<link rel="canonical" href="http://alistapart.com/topic/{segment_2}"/>

</head>

<body>

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title">Topic: <b>{segment_2_category_name}</b></h1>

				{if !segment_3}<p class="author-bio">{segment_2_category_description}</p>{/if}

				{/exp:channel:entries}

				{if segment_3}
				{embed="embeds/topic-list" cat_id="{segment_2_category_id}" offset="{segment_3}"}
				{if:else}
				{embed="embeds/topic-list" cat_id="{segment_2_category_id}" offset="0"}
				{/if}

			</article><!--

			--><div class="secondary-column">

				{sponsor-top}

				<h2>Topics</h2>

				{topic-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}
