<!doctype html>

{exp:channel:entries category="{segment_2_category_id}" channel="articles" limit="1000" status="open" dynamic="off"}

{if count == 1}

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/_/css/style.css">

	<link rel="stylesheet" href="/_/css/readable.css">

	<script src="/_/js/libs/modernizr-2.5.3.min.js"></script>

	<title>A List Apart Articles about {segment_2_category_name}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
</head>

<body itemscope itemtype="http://schema.org/WebPage">

{global-header}

<div role="main">

	<header data-title="title & details">
	
		<h1>Articles about {segment_2_category_name}</h1>
		
		<p>{exp:catcount cat_id="{segment_2_category_id}"} articles</p>
	
	</header>

	<hr>
	
	<section data-title="the articles">

{/if}
		<p>
			<a href="/article/{url_title}">{title}</a><br>
			{article_deck}
		</p>

{/exp:channel:entries}

	</section>

</div>

{current-user-info}

{global-footer}

{global-js}

{page-bottom}
