{if segment_1 == "article" && segment_2 == ""}
{redirect="articles"}
{/if}

{if segment_1 == "column" && segment_2 == ""}
{redirect="columns"}
{/if}

{if segment_1 == "topic" && segment_2 == ""}
{redirect="topics"}
{/if}

{global-page-top}

	<title>Woops — 404.</title>
	<meta name="description" content="">
	<meta name="author" content="">

</head>

<body class="open-search">

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title">Dagnabbit.</h1>

				<p>The page you were looking for isn't where you thought it was. Sorry about that. Maybe try searching in the field up top? Or maybe you're looking for one of <a href="/authors">our authors</a>?</p>

				<p>In any case, if you really can't find what you're looking for, <a href="mailto:contact@alistapart.com">send us an email</a>.</p>

				<p><img src="{assets_path}img/no.gif" alt="" /></p>

			</article><!--

			--><div class="secondary-column">

				<h2>Topics</h2>

				{topic-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{sponsor-top}

{global-page-bottom}
