{global-page-top}

	<title>Here are your search results.</title>
	<meta name="description" content="">
	<meta name="author" content="">

</head>

<body>

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title" style="margin-bottom: 0;">Et voila.</h1>

				<script>
				(function() {
					var cx = '006809772909036096649:_d_zru2scag';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//www.google.com/cse/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
				</script>
				<gcse:searchresults-only></gcse:searchresults-only>

			</article><!--

			--><div class="secondary-column">

				{sponsor-top}

				<h2>Topics</h2>

				{topic-nav}

				{ads}

			</div>

		</div>

	</div>

{global-footer}

{global-page-bottom}