{global-page-top}

	<title>Here are your search results.</title>
	<meta name="description" content="">
	<meta name="author" content="">

</head>

<body>

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title">Ah. Well... huh.</h1>

				<p>We couldn't find anything that included "{exp:search:keywords}," sorry. The search tool searches entry content as well as the titles, but not categories or author names or anything like that. Maybe try again?</p>

			</article><!--

			--><div class="secondary-column">

				<h2>Topics</h2>

				{topic-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}