@font-face {
  font-family: "Franklin ITC";
  src: local("Franklin ITC"),
       local("franklin-itc"),
       url("/components/assets/fonts/franklin-itc-bold.woff2") format("woff2"),
       url("/components/assets/fonts/franklin-itc-bold.woff") format("woff"),
       url("/components/assets/fonts/franklin-itc-bold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Franklin ITC Light";
  src: local("Franklin ITC Light"),
       local("franklin-itc-light"),
       url("/components/assets/fonts/franklin-itc-light.woff2") format("woff2"),
       url("/components/assets/fonts/franklin-itc-light.woff") format("woff"),
       url("/components/assets/fonts/franklin-itc-light.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Franklin ITC Light";
  src: local("Franklin ITC Light"),
       local("franklin-itc-light"),
       url("/components/assets/fonts/franklin-itc-light-italic.woff2") format("woff2"),
       url("/components/assets/fonts/franklin-itc-light-italic.woff") format("woff"),
       url("/components/assets/fonts/franklin-itc-light-italic.eot") format("embedded-opentype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
