.sponsor-top {
	position: absolute;
	z-index: 1000;
	top: 72px;
	right: 24px;
	width: 180px;
	text-align: center;
	padding: 12px 0 6px;
	border-radius: 6px;
	background: #fff;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 9px rgba(0,0,0,0.3);
}

.sponsor-top a {
	color: #666;
}

.secondary-column .sponsor-top {
	position: static;
	width: auto;
	margin-top: 24px;
	padding: 0;
	box-shadow: none;
}

.secondary-column .bsap + ul.secondary-nav {
	margin-top: 24px;
}

@media only screen and (min-width: 80em) { /* 1280px */

	.sponsor-top {
		right: auto;
		left:50%;
		margin-left: 432px;		
	}
	
	.secondary-column .sponsor-top {
		margin-left: 0;
	}

}

.sponsor-top .sponsor-logo {
	display: block;
	max-width: 90%;
	max-width: calc(100% - 24px);
	max-height: 60px;
	margin-bottom: 9px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

.secondary-column .sponsor-top .sponsor-logo,
.secondary-column .sponsor-top p {
	margin-left: 0;
	background-position: left center;
}

.secondary-column .sponsor-top .sponsor-logo img {
	display: block;
}

.sponsor-top .sponsor-intro, 
.sponsor-lower .sponsor-intro {
	font-style: italic;
	display: block;
	font-size: 10px;
	color: #666;
}

.sponsor-top .sponsor-name, 
.sponsor-lower .sponsor-name {
	text-transform: uppercase;
	font-family: "Franklin ITC", sans-serif;
	font-weight: bold;
}

.sponsor-top .sponsor-url, 
.sponsor-lower .sponsor-url {
	display: block;
	font-size: 10px;
}

.sponsor-top p {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	margin: 12px 12px;
	font-family: "Franklin ITC Light", sans-serif;
	font-weight: normal;
}

.job-board, 
.sponsor-lower {
	margin: 36px 0;
	font-size: 14px;
	line-height: 24px;
	font-family: "Franklin ITC Light", sans-serif;
	font-weight: normal;
	font-style: normal;
}

#home-page .job-board {
	margin-top: 0px;
	text-align: left;
}

#home-page .job-board a {

	font-family: "Franklin ITC Light", sans-serif;
	font-weight: normal;
}

.job-board h4, 
.sponsor-lower h4 {
	text-transform: uppercase;
	font-family: "Franklin ITC Light", sans-serif;
	font-weight: normal;
	color: #bb3825;
}