{exp:channel:entries channel="columns" limit="1" require_entry="yes" status="open|In Progress" show_future_entries="yes"}

{if no_results}
{redirect="404"}
{/if}

{global-page-top}

	<title>{title} · An A List Apart Column</title>

	{embed="embeds/article-author-styles" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

	{exp:stash:set name="safe-description"}{exp:strip_html}{exp:low_replace find="QUOTE" replace="'"}{column_intro}{/exp:low_replace}{/exp:strip_html}{/exp:stash:set}

	<meta name="description" content="{exp:stash:get name="safe-description"}">
	<meta name="author" content="{embed="embeds/article-authors-no-html" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}">

	<link rel="canonical" href="http://alistapart.com/column/{url_title}"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alistapart">
	<meta name="twitter:title" content="{title}">
	<meta name="twitter:description" content="{exp:stash:get name="safe-description"}">
	<meta name="twitter:url" content="http://alistapart.com/column/{url_title}">

	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{exp:stash:get name="safe-description"}" />
	<meta property="og:url" content="http://alistapart.com/column/{url_title}" />
	<meta property="og:image" content="{embed="embeds/column-author-photo" entry_author="{author_id}" entry_id="{entry_id}" full_html="false"}" />

</head>

<body class="printable {if comment_total > 0}comments-exist{/if}">

	{primary-logo}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry">

			<header class="author-header">

				{embed="embeds/column-author-photo" entry_author="{author_id}" entry_id="{entry_id}"}

				<span class="column-name">{categories show_group="4"}{if category_description}{category_description}{if:else}{category_name}{/if}{/categories}</span>

				<h1 class="entry-title">{title}</h1>

				<p class="meta">
					<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time> ·

					Published in {modern-categories}

					{if comment_total == 1}
						 · <a class="comment-count" href="#comments">1 Comment</a>
					{if:elseif comment_total > 1}
						 · <a class="comment-count" href="#comments">{comment_total} Comments</a>
					{if:elseif allow_comments}
						 · <a class="comment-count no-comments" href="#comments">No Comments (yet)</a>
					{/if}
				</p>

				{if status != "open" OR entry_date > current_time}
				<p class="meta warning" style="display: inline-block; background: #ffffef; outline: 3px solid #ffffef;">

					{if status != "open"}
					<strong>Please note:</strong> This column has not yet been scheduled to publish.
					{if:else}
					<strong>Please note:</strong> This column is in the publish queue, but has not gone public yet.
					{/if}

				</p>
				{/if}

			</header>

			{if column_editors_note}
			<div class="main-content">

				<p class="editors-note column-note"><b>A note from the editors:</b> {column_editors_note}</p>

			</div>
			{/if}
	 
 			{exp:gwcode_categories entry_id="{entry_id}" group_id="5"}
 			{exp:channel:categories category_group="5"}
			<div class="main-content">
				<p class="editors-note">This article is <b>Part {embed="embeds/article-series-count" exclude="{entry_id}" entrylink="{category_id}"}</b> in a series on <b>{category_name}</b>. Read {embed="embeds/article-series" exclude="{entry_id}" entrylink="{category_id}"}.</p>
			</div> 
			{/exp:channel:categories}
			{/exp:gwcode_categories}
		 
			{if column_opening_blockquote}
			<div class="main-content">

				{column_opening_blockquote}

			</div>
			{/if}

			<div class="main-content">

				{exp:hop_inject where="<p>" always_inject="y"}

				{exp:hop_inject:injection separator="2" position="before"}
				{content-minutiae-column}

				{ads-article}
				{/exp:hop_inject:injection}

				{column_content}

				{/exp:hop_inject}

				{if column_footnotes}
				<section class="entry-footnotes">

					<h1>Notes</h1>

					<ul class="the-footnotes">
						{column_footnotes}
						<li id="note{row_count}"><a class="count" href="#ref{row_count}">{row_count}. </a>{cell_1}</li>
						{/column_footnotes}
					</ul>

				</section>
				{/if}

			</div>

			<footer class="entry-footer">

				{embed="embeds/column-author-bio" entry_author="{author_id}" entry_id="{entry_id}"}

			</footer>

			<div class="post-article">

				<div class="column-holder unequal-columns">

					<section id="comments" class="column comment-holder">

						{if comment_total > 0}
							<h1 class="classy">{comment_total} Reader Comment{if comment_total > 1}s{/if}</h1>

							<a href="/comments/{url_title}" id="load-comments" data-url-title="{url_title}" class="buttonish">Load Comments</a>

						{if:else}

							<h1 class="classy">No Comments{if allow_comments} (yet){/if}</h1>

							{if logged_in}<ol class="article-comments"> {comment-form-no-comments}</ol>
		 					{if:else}<ol class="article-comments"> {comment-sign-in-no-comments}</ol>{/if}

						{/if}

					</section>
{/exp:channel:entries}

					<aside class="column more-content">

						{more-from-ala}

						{ad-bsa-text}

					</aside>

				</div>

			</div>

		</article>



	</div>

	{current-user-info-edit}

	{global-nav}

	{sponsor-top}

	{global-footer}

	{global-page-bottom}
