{exp:user:stats username="{segment_2}"}

<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/_/css/style.css">

	<link rel="stylesheet" href="/_/css/readable.css">

	<link rel="stylesheet" href="/_/css/prism.css">

	<script src="/_/js/libs/modernizr-2.5.3.min.js"></script>

	<title>A List Apart Author: {screen_name}</title>
	<meta name="description" content="">
	<meta name="author" content="">
		
</head>

<body>

{global-header}

<div role="main">
	
	<header data-title="name & details">
	
		<h1>
			{screen_name}
			
			<small>{if logged_in_username == segment_2}
			(<a href="/edit/author/{member_id}">edit your profile</a>)
			
			{if:elseif member_group == "1"}
			(<a href="/edit/author/{member_id}">edit this profile</a>)
			{/if}</small>

		</h1>
	
		<div class="pub-info">
		
			<p>
			{if avatar_filename != ""}
				<img src="{avatar_url}{avatar_filename}">
			{if:else}
				<img src="/pix/authors/short_hair_silhouette.jpg">
			{/if}
			</p>
			
			{!--<p>
				Article count: {total_entries}<br>
				Comment count: {total_comments} 
			</p>--}
		
			<p>
				Twitter: {twitter}<br>
				Facebook: {facebook}<br>
				URL: {url}
			</p>
			
		</div>
		
	</header>
	
	<hr>
	
	<section data-title="bio">
	
		<p>{bio}</p>

	</section>
	
	<hr>
	
	<section data-title="columns">
	
		{embed="embeds/author-columns" author_id="{member_id}"}

	</section>
	
	<hr>
	
	<section data-title="blog posts">
	
		{embed="embeds/author-blog-posts" author_id="{member_id}"}

	</section>
	
	<hr>
	
	<section data-title="articles">
	
		{embed="embeds/author-articles" author_id="{member_id}"}

	</section>
	
	<!--
	<hr>
	
	<section data-title="comments">
	
		{embed="embeds/author-comments" author_id="{member_id}"}

	</section>
	-->
	
</div>
	
{/exp:user:stats}

{current-user-info}

{global-footer}

{global-js}

{page-bottom}