{if segment_2}

{exp:channel:entries channel="contributors" username="{segment_2}"}

{if no_results}{redirect="404"}{/if}

{global-page-top}

	<title>A List Apart Author: {contributor_first_name} {contributor_last_name}</title>

	<link rel="canonical" href="{site_url}/author/{segment_2}"/>

	{if googleplus}
	<link rel="me" href="{googleplus}" />
	{/if}

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content" itemscope itemtype="http://schema.org/ProfilePage">

				<h1 class="basic-title">Author</h1>

				{if contributor_avatar}
				<header class="author-header">

					<img src="{exp:ce_img:pair src='{contributor_avatar}' width='120' height='120' crop='yes'}{made}{/exp:ce_img:pair}" alt="Image of {contributor_first_name} {contributor_last_name}"/>
				{if:else}
				<header class="author-header no-photo">
				{/if}

					<h1 itemprop="name">{contributor_first_name} {contributor_last_name}</h1>

					{if contributor_url OR contributor_twitter OR contributor_facebook OR contributor_dribbble OR contributor_github OR contributor_googleplus}
					<ul class="fancy-links">
						{if contributor_url}<li><a href="http://{exp:low_replace find='http://' replace=''}{contributor_url}{/exp:low_replace}" itemprop="url">{contributor_url}</a></li>
						{if:elseif url != ''}<li><a href="http://{exp:low_replace find='http://' replace=''}{url}{/exp:low_replace}" itemprop="url">{url}</a></li>{/if}
						{if contributor_twitter}<li><a class="twitter" href="http://twitter.com/{exp:low_replace find='@' replace=''}{contributor_twitter}{/exp:low_replace}" itemprop="url">{exp:low_replace find='@' replace=''}{contributor_twitter}{/exp:low_replace}</a></li>{/if}
						{if contributor_facebook}<li><a class="facebook" href="http://facebook.com/{contributor_facebook}" itemprop="url">{contributor_facebook}</a></li>{/if}
						{if contributor_dribbble}<li><a class="dribbble" href="http://dribbble.com/{contributor_dribbble}" itemprop="url">{contributor_dribbble}</a></li>{/if}
						{if contributor_github}<li><a class="github" href="http://github.com/{contributor_github}" itemprop="url">{contributor_github}</a></li>{/if}
						{if contributor_googleplus}<li><a class="googleplus" href="{contributor_googleplus}" itemprop="url">{exp:parse_url parts="path" omit="/|+"}{contributor_googleplus}{/exp:parse_url}</a></li>{/if}
					</ul>
					{/if}

				</header>

				<p class="author-bio" itemprop="descirption">{contributor_bio}</p>

				{if book_title}
				<aside class="author-book">
					{if book_cover} 
					<figure class="author-book__cover">
						{if book_purchase_url}
						<a class="author-book__purchase-url" href="https://www.amazon.com/{book_purchase_url}/tag=alistapart0b-20">{/if}
							<img src="{exp:ce_img:pair src='{book_cover}' width='141'}{made}{/exp:ce_img:pair}" alt="{book_title}"/>
						{if book_purchase_url}</a>{/if}
					</figure>
					{/if}
					<article class="author-book__description">
						<mark>Author's Latest</mark>
						<h2>{if book_purchase_url}<a class="author-book__purchase-url" href="https://www.amazon.com/{book_purchase_url}/tag=alistapart0b-20">{/if}{book_title} <span class="author-book__author-name">by {contributor_first_name} {contributor_last_name}</span>{if book_purchase_url}</a>{/if}</h2>
						<p>{book_description}</p>
					</article>
				</aside>
				{/if}	

				{parents channel="articles|legacy_articles|blog|columns|events" field="article_authors|legacy_article_authors|column_authors|blog_authors" limit="999" status="open" orderby="date" sort="desc"}
				{if parents:count == "1"}
					<h2 class="alt-small">Contributions by {contributor_first_name} {contributor_last_name}</h2>

					<ul class="entry-list">
				{/if}
						<li><h3 class="entry-title"><a href="{site_url}{if parents:channel_short_name == 'columns'}/column/{if:elseif parents:channel_short_name == 'blog'}/blog/post/{if:else}/article/{/if}{parents:url_title}">{parents:title}</a></h3>
						{if parents:channel_short_name == "articles" || parents:channel_short_name == "legacy_articles"}
						<p class="meta">
							<time class="pubdate updated" datetime="{parents:entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{parents:entry_date format="%F %d, %Y"}</time>
						</p>
						<p>{exp:ala_typography:inline}{parents:article_deck}{parents:legacy_article_deck}{/exp:ala_typography:inline}</p>
						{if:elseif parents:channel_short_name == "blog" || parents:channel_short_name == "events"}
						<p class="meta">
						<time class="pubdate updated" datetime="{parents:entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{parents:entry_date format="%F %d, %Y"}</time>
						</p>

						<p>{exp:ala_typography:inline}{parents:blog_intro}{parents:event_deck}{/exp:ala_typography:inline}</p>
						{if:else}
						<p class="meta">
						<time class="pubdate updated" datetime="{parents:entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{parents:entry_date format="%F %d, %Y"}</time>
						</p>

						<p>{parents:column_intro}</p>
				{/if}

				{/parents}
				{if parents:count == parents:total_results}</ul>{/if}

				{if screen_name == "Kevin Cornell"}
				{embed="embeds/illustrator-articles-kevin"}
				{if:else}
				{embed="embeds/illustrator-articles" author_id="{author_id}" real_name="{contributor_first_name} {contributor_last_name}"}
				{/if}

{/exp:channel:entries}

			</article><!--

			--><div class="secondary-column">

				{author-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}

{if:else}

{redirect="authors"}

{/if}
