{if segment_2}

{exp:user:stats username="{segment_2}"}

{if user_no_results}{redirect="404"}{/if}

{global-page-top}

	<title>A List Apart Author: {screen_name}</title>

	<link rel="canonical" href="{site_url}/author/{segment_2}"/>

	{if googleplus}
	<link rel="me" href="{googleplus}" />
	{/if}

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title">Author</h1>

				{if photo_filename != ""}
				<header class="author-header">

					<img src="{exp:ce_img:pair src="{photo_url}{photo_filename}" width="120" height="120" crop="yes"}{made}{/exp:ce_img:pair}" alt=""/>

				{!--if:elseif avatar_filename}
				<header class="author-header">

					<img src="{avatar_url}{avatar_filename}" width="120" alt="">--}

				{if:else}
				<header class="author-header no-photo">
				{/if}

					<h1>{screen_name}</h1>
		
					{if url OR twitter OR facebook OR dribbble OR github OR googleplus}
					<ul class="fancy-links">
						{if url}<li><a href="http://{exp:parse_url omit='scheme'}{url}{/exp:parse_url}">{url}</a></li>{/if}
						{if twitter}<li><a class="twitter" href="http://twitter.com/{exp:low_replace find='@' replace=''}{twitter}{/exp:low_replace}">{exp:low_replace find='@' replace=''}{twitter}{/exp:low_replace}</a></li>{/if}
						{if facebook}<li><a class="facebook" href="http://facebook.com/{facebook}">{facebook}</a></li>{/if}
						{if dribbble}<li><a class="dribbble" href="http://dribbble.com/{dribbble}">{dribbble}</a></li>{/if}
						{if github}<li><a class="github" href="http://github.com/{github}">{github}</a></li>{/if}
						{if googleplus}<li><a class="googleplus" href="{googleplus}">{exp:parse_url parts="path" omit="/|+"}{googleplus}{/exp:parse_url}</a></li>{/if}
					</ul>
					{/if}

				</header>

				<p class="author-bio">{bio}</p>

				{embed="embeds/author-articles" author_id="{member_id}" real_name="{screen_name}"}

				{if screen_name == "Kevin Cornell"}
				{embed="embeds/illustrator-articles-kevin"}
				{if:else}
				{embed="embeds/illustrator-articles" author_id="{member_id}" real_name="{screen_name}"}
				{/if}

{/exp:user:stats}

			</article><!--

			--><div class="secondary-column">

				{author-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}

{if:else}

{redirect="authors"}

{/if}
