{exp:ifelse parse="inward"}

{if last_page_visited *= "email-confirmed" && logged_in}

	{exp:redirecturl url="/edit/profile"}

{if:else}

<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{assets_path}css/reset.css" />
	<link rel="stylesheet" href="{assets_path}css/editables.css" />

	<script src="{assets_path}js/libs/prefixfree.min.js"></script>

	<script src="{assets_path}js/libs/modernizr-dev.js"></script>

	<title>A List Apart: Forgot your password?</title>

</head>

<body data-xid="{XID_HASH}">

	<header>

		<h1>
			<img src="{assets_path}img/favicons/apple-touch-icon-57x57.png" alt="">
			We Can Reset That For You
		</h1>

	</header>

	{if segment_3 == 'success'}

	<p>Nice. You can now head to <a href="/">the home page</a>, or <a href="/edit/profile">edit your profile</a> (or simply close this tab if you're done).</p>

	{if:elseif segment_3 == 'email-sent'}

	<p>Got it. Be on the lookout for an email with a link that will let you update your password.</p>

	{if:elseif segment_3 == ''}

	<p>Our system will send you an email with a link to reset your password.</p>

	{exp:freemember:forgot_password
		return="tools/forgot-password/email-sent"
		reset="tools/forgot-password/email-confirmed"}

		<label for="email">
	      Your email address
	      <input id="email" aria-describedby="email_error" type="email" name="email"
				autofocus
				data-validate="onblur"
				data-type="email"
				data-isvalid=""
				data-error="are you sure this is your email address?"
				required />
	    </label>
		
		<style>
			.screen-reader {
			  display: block !important;
			  left: -9999px !important;
			  position: absolute !important;
			}
		</style>
		<p class="screen-reader">
		  <label for="honeepot">Don't put anything here</label>
		  <input type="text" name="honeepot" id="honeepot" />
		</p>

		<p class="align-center">
			<button type="submit" class="spinner">
				<span class="label">Submit</span>
				<span class="spinner"></span>
			</button>
		</p>

		<p><small>
				Or, try logging in with...
				<a class="buttonish" href="{site_url}?ACT=154&provider=twitter&RET={two_pages_ago}">Twitter</a>
				<a class="buttonish" href="{site_url}?ACT=154&provider=facebook&RET={two_pages_ago}">Facebook</a>
		</small></p>

	{/exp:freemember:forgot_password}

	{if:elseif segment_3 == 'email-confirmed'}

	<p>Let's get that password changed:</p>

	{exp:freemember:reset_password
		return="tools/forgot-password/success"}

		{if no_results}<p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>{/if}

		<fieldset>

			<label class="password-field">
				New password:
				<input id="password" name="password" type="password" value=""
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="what's your new password?"
				required />
				<span class="note">Make it good.</span>
			</label>

			<label class="password-field">
				Confirm it:
				<input id="password_confirm" name="password_confirm" type="password" value=""
				data-validate="onblur"
				data-type="matching"
				data-mustmatch="password"
				data-isvalid="yes"
				data-error="this needs to match the previous field."
				required />
				<span class="note">Make it the same.</span>
			</label>

		</fieldset>
		
		<style>
			.screen-reader {
			  display: block !important;
			  left: -9999px !important;
			  position: absolute !important;
			}
		</style>
		<p class="screen-reader">
		  <label for="honeepot">Don't put anything here</label>
		  <input type="text" name="honeepot" id="honeepot" />
		</p>

		<p class="align-center">
			<button type="submit" class="spinner">
				<span class="label">Submit</span>
				<span class="spinner"></span>
			</button>
		</p>

	{/exp:freemember:reset_password}

	{/if}

	{if segment_3 == 'email-sent'}<div class="good-show">Email sent.</div>{/if}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{assets_path}js/libs/jquery-1.8.2.min.js"><\/script>')</script>

<script src="{assets_path}js/libs/matchmedia.js"></script>
<script src="{assets_path}js/libs/picturefill.js"></script>
<script src="{assets_path}js/libs/breakpoints.js"></script>
<script src="{assets_path}js/libs/jquery.form.min.js"></script>
<script src="{assets_path}js/form-stuff.js"></script>
<script src="{assets_path}js/script.js"></script>


<!--<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>-->

</body>
</html>

{/if}
{/exp:ifelse}