{exp:ifelse parse="inward"}

{if last_page_visited *= "email-confirmed" && logged_in}

	{exp:redirecturl url="/edit/profile"}

{if:else}

{global-page-top}

<title>A List Apart: Would you like to register?</title>

<!-- <link rel="stylesheet" href="{assets_path}css/editables.css" /> -->

</head>

<body data-xid="{XID_HASH}">

{primary-logo}

{global-nav}

{current-user-info}

<div role="main" class="main-wrapper single-column-display">

	<div class="col-holder">

		<div class="main-content tools">

		<h1 class="basic-title">We Can Reset That For You</h1>

		{if segment_3 == 'success'}

		<p>Nice. You can now head to <a href="/">the home page</a>, or <a href="/edit/profile">edit your profile</a> (or simply close this tab if you're done).</p>

		{if:elseif segment_3 == 'email-sent'}

		<p>Got it. Be on the lookout for an email with a link that will let you update your password. <a href="{site_url}/<?php echo ee()->session->tracker['2']; ?>">Head back.</a></p>

		{if:elseif segment_3 == ''}

		<h3 class="form-heading small">Our system will send you an email with a link to reset your password.</h3>

		{exp:freemember:forgot_password
			return="tools/forgot-password/email-sent"
			reset="tools/forgot-password/email-confirmed"}

		<p>
			<label for="email">Your email address</label>
			<input 
				type="email"
				id="email" 
				name="email"
				aria-describedby="email_error" 
				autofocus
				data-validate="onblur"
				data-type="email"
				data-isvalid=""
				data-error="are you sure this is your email address?"
				required>
		</p>

		<p>
			<input 
				type="submit" 
				name="submit" 
				value="Submit" 
				class="button primary">
		</p>

		{/exp:freemember:forgot_password}
		
		<aside id="login-buttons">
			
			<h4 class="form-heading small">Or sign in with:</h4>

			<ul class="login-buttons">

				<li class="twitter">
					<a href="{site_url}/?ACT=154&provider=twitter&RET={two_pages_ago}">Twitter</a>
				</li>

				<li class="facebook">
					<a href="{site_url}/?ACT=154&provider=facebook&RET={two_pages_ago}">Facebook</a>
				</li>

			</ul>

		</aside>

		{if:elseif segment_3 == 'email-confirmed'}

		<p>Let's get that password changed:</p>

		{exp:freemember:reset_password
			return="tools/forgot-password/success"}

		{if no_results}<p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>{/if}
		<p>
			<label class="password-field">New password:</label>
			<input 
				type="password"
				id="password" 
				name="password" 
				value=""
				data-validate="onblur"
				data-type="any"
				data-isvalid=""
				data-error="what's your new password?"
				required>
			<span class="note">Make it good.</span>
		</p>
		
		<p>
			<label class="password-field">Confirm it:</label>
			<input 
				type="password"
				id="password_confirm" 
				name="password_confirm" 
				value=""
				data-validate="onblur"
				data-type="matching"
				data-mustmatch="password"
				data-isvalid="yes"
				data-error="this needs to match the previous field."
				required>
			<span class="note">Make it the same.</span>
		</p>

		<p class="screen-reader">
			<label for="honeepot">Don't put anything here</label>
			<input
				type="text"
				id="honeepot"
				name="honeepot">
		</p>
		
		<p>
			<input 
				type="submit" 
				name="submit" 
				value="Submit" 
				class="button primary">
		</p>

		{/exp:freemember:reset_password}

		{/if}

		{if segment_3 == 'email-sent'}<!-- <div class="good-show">Email sent.</div> -->{/if}

	</div> 

	</div>

</div>

{global-footer}

{sponsor-top}

{global-page-bottom}

{/if}

{/exp:ifelse}
