{if member_group == "1" OR member_group == "6" OR member_group == "7" OR member_group == "8"}

{global-page-top}

<title>A List Apart : Add Translation Link</title>

</head>

<body itemscope itemtype="http://schema.org/WebPage">

<div id="ajaxResponse"></div>

{primary-logo}

{global-nav}

{current-user-info}

<div role="main" class="main-wrapper single-column-display">

	<div class="col-holder">

		<div class="main-content tools">

			<h1 class="basic-title">Add a translation link.</h1>

			{exp:channel:entries channel="legacy_articles" require_entry="yes" limit="1" url_title="{segment_3}" disable="categories|category_fields|member_data"}

			<h2>Article title: {title}</h2>
			
			{if legacy_article_translations:total_rows > 0}<h3>Translations</h3>{/if}
			
			<div id="translation-rows">

				{if legacy_article_translations:total_rows > 0}

				<p id="output">{legacy_article_translations}{row_count}. {cell_1}, {cell_2}<br>{/legacy_article_translations}</p>

				{/if}
			
			</div>

			<p><a href="/article/{segment_3}">Return to the Article</a></p>
			
			<h3 class="form-heading">Add a link</h3>

			{exp:channel:form channel="legacy_articles" include_jquery="no" json="no" datepicker="no" safecracker_head="no" class="editForm" id="editForm{entry_id}" entry_id="{entry_id}" return="/article/URL_TITLE"}

			<input type="hidden" name="legacy_article_translations[row_order][]" value="row_new_0" />
			
			<p>
				<label for="language">Language</label>
				<input 
					type="text"
					id="language"
					name="legacy_article_translations[row_new_0][col_id_6]"
					placeholder="language (ex: Arabic)"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s the translation language?"
					data-tabmaster="true"
					data-tabto="URL"
					required
				>
			</p>
			
			<p>
				<label for="URL">URL</label>
				<input 
					type="text" 
					id="URL" 
					name="legacy_article_translations[row_new_0][col_id_7]"
					placeholder="URL"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s the translation url?"
					data-tabmaster="true"
					data-tabto="language"
					required
				>
			</p>
								 
			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input type="text" name="honeepot" id="honeepot" />
			</p>

			<p id="spinner">
				<input type="submit" name="submit" value="Submit" class="button primary">
			</p>

			{/exp:channel:form}

			<script>
				function spinnerInit(){
					//initiate spinner
					var spinnerOpts = {
						className: 'js-spinner none'  // CSS class to assign to the element
					};
					var spinnerTarget = document.getElementById('spinner');
					var spinner = new Spinner(spinnerOpts).spin(spinnerTarget);
				}

				function spinnerStart(){
					$('.js-spinner').removeClass('none');
					$('#spinner input').addClass('inactive');
				}

				function spinnerStop(){ 
					$('.js-spinner').addClass('none');
					$('#spinner input').removeClass('inactive');
				}

				$(document).ready(function (){
				    $('.editForm').on('submit', function(event){
				        event.preventDefault();
				        var form = $(this);
				        var post_url = form.attr('action');
				        var post_data = form.serialize();
				        EEValidateSync();
				        $(this).find(':required').each(function() {
				        	if ($.trim($(this).val()) != '') {
				        		spinnerInit();
				        		spinnerStart();
				        	}
				        });
				        $.post({
				            url: post_url, 
				            data: post_data
				        }).done(function(event) {
				        	$("#translation-rows").load(location.href + " #output");
				        	form[0].reset();
				        	spinnerStop();
					    });
				    });    
				});
			</script>

			{if no_results} <p><b>Error</b>: You must request a valid article.</p> {/if}

			{/exp:channel:entries}

		</div> 

	</div>

</div>

{global-footer}

{sponsor-top}

{global-page-bottom}

{if:else}

{redirect='/'}

{/if}