{exp:ifelse parse="inward"}	

{if logged_in}
	
	{if last_page_visited == ""}
		{exp:redirecturl url="{last_page_visited}"}
	{if:else}
		{redirect="/"}
	{/if}

{if:else}

<!doctype html>
	
<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="{assets_path}css/reset.css" />
	<link rel="stylesheet" href="{assets_path}css/editables.css" />

	<script src="{assets_path}js/libs/prefixfree.min.js"></script>

	<script src="{assets_path}js/libs/modernizr-dev.js"></script>

	<title>A List Apart: Would you like to log in?</title>
		
</head>

<body data-xid="{XID_HASH}">

	<header>
	
		<h1>
			<img src="{assets_path}img/favicons/apple-touch-icon-57x57.png" alt="">
			Log In
		</h1>
		
	</header>
	
	{exp:freemember:login 
		return="PREVIOUS_URL" 
		form_id="sign-in-form" 
		form_class="sign-in-form"}
								
		<label for="username">
			Username / Email Address <small>(<a href="/tools/register">need an account?</a>)</small>
			<input 
				id="username" 
				name="username" 
				type="text" 
				data-validate="onblur" 
				data-type="any" 
				data-isvalid="" 
				data-error="who are you?"
				required />
		</label>
	
		<label for="login_password">
			Password <small>(<a href="/tools/forgot-password">forgotten it?</a>)</small>
			<input 
				id="login_password" 
				name="password" 
				type="password" 
				required="required" 
				data-validate="onblur" 
				data-type="any" 
				data-isvalid="" 
				data-error="what's your password?"
				required />
		</label>
		
		{if auto_login}
		<fieldset class="check-radio customized">
			<input type="checkbox" id="auto_login" name="auto_login" value="1" checked>
			<label for="auto_login">Auto-login on future visits</label>
		</fieldset>
		{/if}
		
		<p class="align-center">
			<button type="submit" class="spinner">
				<span class="label">Submit</span>
				<span class="spinner"></span>
			</button>
		</p>
		
		<p><small>
				Log in with... 
				<a class="buttonish" href="{site_url}?ACT=154&provider=twitter&RET={last_page_visited}">Twitter</a>
				<a class="buttonish" href="{site_url}?ACT=154&provider=facebook&RET={last_page_visited}">Facebook</a>
		</small></p>
	
	{/exp:freemember:login}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/components/assets/js/libs/jquery-1.8.2.min.js"><\/script>')</script>

<script src="{assets_path}js/libs/matchmedia.js"></script>
<script src="{assets_path}js/libs/picturefill.js"></script>
<script src="{assets_path}js/libs/breakpoints.js"></script>
<script src="{assets_path}js/libs/jquery.form.min.js"></script>
<script src="{assets_path}js/form-stuff.js"></script>
<script src="{assets_path}js/script.js"></script>


<!--<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>-->

</body>
</html>

{/if}
{/exp:ifelse}