{exp:ifelse parse="inward"}

{if logged_in}

	{exp:redirecturl url="{last_page_visited}"}

{if:else}

{global-page-top}

<title>A List Apart: Register!</title>

</head>

<body data-xid="{XID_HASH}">

{primary-logo}

{global-nav}

{current-user-info}

<div role="main" class="main-wrapper single-column-display">

	<div class="col-holder">

		<div class="main-content tools">

		{if segment_3 == 'email-sent'}

		<h1 class="basic-title">Thanks for registering.</h1>

		<p>We’ll send you an email with a link to activate your new account. <a href="{site_url}/<?php echo ee()->session->tracker['2']; ?>">Go back.</a></p> 

		{if:else}

		<h1 class="basic-title">Register!</h1>

		{exp:freemember:register
			return="/tools/register/email-sent"
			form_id="sign-in-form"
			form_class="sign-in-form"}

			<p>
				<label for="screen_name">Screen name <span class="undertone">(required)</span></label>
				<input 
					type="text"
					id="screen_name" 
					name="screen_name"
					aria-describedby="screen-name_error"
					data-validate="onblur"
					data-type="any" 
					data-isvalid=""
					data-error="What’s your screen name?"
					data-tabmaster="true"
					data-tabto="email"
					autofocus
					required>
				<span class="note">Your name as it will appear on <cite>A List Apart</cite>.</span>
			</p>

			<p>
				<label for="email">Email <span class="undertone">(required)</span></label>
				<input 
					type="email"
					id="email" 
					name="email"
					value="{email}" 
					aria-describedby="email_error"
					data-validate="onblur"
					data-type="email"
					data-isvalid="{if email}yes{/if}"
					data-error="Are you sure this is your email address?"
					data-tabmaster="true"
					data-tabto="password"
					required>
			</p>

			<p class="hide-from-js">
				<label for="username">Email confirmation <span class="undertone">(required)</span></label>
				<input 
					type="text"
					id="username" 
					name="username"
					aria-describedby="username_confirm_error"
					data-validate="onblur"
					data-type="matching"
					data-mustmatch="email" 
					data-isvalid=""
					data-error="This needs to match the previous field."
					autofocus
					required>
			</p>

			<p class="password-field">
				<label for="password">Password <span class="undertone">(required)</span></label>
				<input 
					type="password"
					id="password" 
					name="password"
					value=""
					aria-describedby="password_error"
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="What’s your new password?"
					data-tabmaster="true"
					data-tabto="submit"
					required>
				<span class="note">At least six characters. Consider using a phrase—it’s more secure.</span>
			</p>

			<p class="password-field hide-from-js">
				<label for="password_confirm">Confirm password <span class="undertone">(required)</span></label>
				<input
					type="password"
					id="password_confirm"
					name="password_confirm"
					value=""
					aria-describedby="password_confirm_error"
					data-validate="onblur"
					data-type="matching"
					data-mustmatch="password"
					data-isvalid="yes"
					data-error="This needs to match the previous field."
					required>
				<span class="note">This needs to match the password you just entered.</span>
			</p>

			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input
					type="text"
					id="honeepot"
					name="honeepot"
					data-tabmaster="false">
			</p>
			
			<p>
				<input 
					type="submit"
					id="submit" 
					name="submit" 
					value="Submit" 
					class="submit button primary">
			</p>

			{/exp:freemember:register}

			<aside id="login-buttons">
			
				<h4 class="form-heading small">Or, sign in with</h4>

				<ul class="login-buttons">

					<li class="twitter">
						<a href="{site_url}/?ACT=154&provider=twitter&RET={last_page_visited}">Twitter</a>
					</li>

					<li class="facebook">
						<a href="{site_url}/?ACT=154&provider=facebook&RET={last_page_visited}">Facebook</a>
					</li>

				</ul>

			</aside>

		{/if}

		</div> 

	</div>

</div>

{global-footer}

{sponsor-top}

{global-page-bottom}

{/if}

{/exp:ifelse}
