{exp:ifelse parse="inward"}

{if logged_in}

	{exp:redirecturl url="{last_page_visited}"}

{if:else}

{global-page-top}

<title>A List Apart: Would you like to register?</title>

<link rel="stylesheet" href="{assets_path}css/editables.css" />

</head>

<body data-xid="{XID_HASH}">

{primary-logo}

{global-nav}

{current-user-info}

<div role="main" class="main-wrapper single-column-display">

	<div class="col-holder">

		<div class="main-content tools">

		<h1 class="basic-title">Register</h1>
		
		{if segment_3 == 'email-sent'}

		<p>Got it. Be on the lookout for an email with a link to activate your new account. <a href="{site_url}<?php echo ee()->session->tracker['2']; ?>">Head back.</a></p> 

		{if:else}

		{exp:freemember:register
			return="/tools/register/email-sent"
			form_id="sign-in-form"
			form_class="sign-in-form"}

			<p><label for="username">
				Username: required</label>
				<input id="username" aria-describedby="username_error" name="username" type="text"
					autofocus
					data-validate="onblur"
					data-type="any" data-isvalid=""
					data-error="who are you?"
					required /></p>
			

			<label for="email">
				Email: required
				<input id="email" aria-describedby="email_error" name="email" type="email" value="{email}" data-validate="onblur"
					data-type="email"
					data-isvalid="{if email}yes{/if}"
					data-error="are you sure this is your email address?"
					required>
			</label>

			<label for="password" class="password-field">
				Password: required
				<input id="password" aria-describedby="password_error" name="password" type="password" value=""
					data-validate="onblur"
					data-type="any"
					data-isvalid=""
					data-error="what's your new password?"
					required />
				<span class="note">Make it good.</span>
			</label>

			<label for="password_confirm" class="password-field">
				Password Confirmation: required
				<input id="password_confirm" aria-describedby="password_confirm_error" name="password_confirm" type="password" value=""
					data-validate="onblur"
					data-type="matching"
					data-mustmatch="password"
					data-isvalid="yes"
					data-error="this needs to match the previous field."
					required />
				<span class="note">Make it the same.</span>
			</label>
			
			<style>
				.screen-reader {
					display: block !important;
					left: -9999px !important;
					position: absolute !important;
				}
			</style>

			<p class="screen-reader">
			  <label for="honeepot">Don't put anything here</label>
			  <input type="text" name="honeepot" id="honeepot" />
			</p>

			<!-- <p class="align-center">
				<button type="submit" class="spinner">
					<span class="label">Submit</span>
					<span class="spinner"></span>
				</button>
			</p> -->

			<input type="submit" name="submit" value="Submit" class="button primary">

			<p><small>
					Sign up with...
					<a class="button secondary" href="{site_url}?ACT=154&provider=twitter&RET=/tools/profile/">Twitter</a>
					<a class="button secondary" href="{site_url}?ACT=154&provider=facebook&RET=/tools/profile/">Facebook</a>
			</small></p>

		{/exp:freemember:register}

		{/if}

		</div> 

	</div>

</div>

{global-footer}

{sponsor-top}

{global-page-bottom}



<!-- 	

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/components/assets/js/libs/jquery-1.8.2.min.js"><\/script>')</script>

<script src="{assets_path}js/libs/matchmedia.js"></script>
<script src="{assets_path}js/libs/picturefill.js"></script>
<script src="{assets_path}js/libs/breakpoints.js"></script>
<script src="{assets_path}js/libs/jquery.form.min.js"></script>
<script src="{assets_path}js/form-stuff.js"></script>
<script src="{assets_path}js/script.js"></script> -->


<!--<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>-->

</body>
</html>

{/if}
{/exp:ifelse}
