{if member_group == "1" OR member_group == "6" OR member_group == "7" OR member_group == "8"}

{global-page-top}

<title>A List Apart : Add Translation Link</title>

</head>

<body>

<div id="ajaxResponse"></div>

{primary-logo}

{global-nav}

{current-user-info}

<div role="main" class="main-wrapper single-column-display">

	<div class="col-holder">

		<article class="main-content tools">

			<h1 class="basic-title">Add a translation link.</h1>

			{exp:channel:entries channel="articles" require_entry="yes" limit="1" url_title="{segment_3}" disable="categories|category_fields|member_data"}

			<h2>Article title: {title}</h2>
			
			{if article_translations:total_rows > 0}<h3>Translations</h3>

			<p>{article_translations}{row_count}. {cell_1}, {cell_2}<br>{/article_translations}</p>{/if}

			<p><a href="/article/{segment_3}">Return to the Article</a></p>
			
			<h3><label form="editForm">Add a link</label></h3>

			{exp:channel:form channel="articles" include_jquery="no" json="yes" safecracker_head="no" class="editForm" id="editForm{entry_id}" entry_id="{entry_id}" return="/article/URL_TITLE"}

			<input type="hidden" name="article_translations[row_order][]" value="row_new_0" />
			
			<label for="username">
				Language
				<input id="username" type="text" placeholder="language (ex: Arabic)" name="article_translations[row_new_0][col_id_6]" />
			</label>

			<label for="URL">
				URL
				<input id="URL" type="text" placeholder="URL" name="article_translations[row_new_0][col_id_7]" />
			</label>
								 
			<p class="screen-reader">
				<label for="honeepot">Don't put anything here</label>
				<input type="text" name="honeepot" id="honeepot" />
			</p>

			<input type="submit" name="submit" value="Submit" class="button primary">

			{/exp:channel:form}

			{safecracker-js}

			{if no_results} <p><b>Error</b>: You must request a valid article.</p> {/if}

			{/exp:channel:entries}

		</article> 

	</div>

</div>

{global-footer}

{sponsor-top}

{global-page-bottom}

{if:else}

{redirect='/'}

{/if}