						<ol class="article-comments" id="comments-parent" data-xid="{XID_HASH}">
							
							{exp:comment:entries sort="asc" dynamic="no" url_title="{segment_3}" limit="999"}
							{single-comment}
							{/exp:comment:entries}
							
							{exp:channel:entries limit="1" dynamic="no" url_title="{segment_3}"}
							
							{if segment_4 == "login-return"}
							
							{if channel_short_name == "articles"}
							{redirect="article/{segment_3}#comment-form"}
							{if:elseif channel_short_name == "columns"}
							{redirect="column/{segment_3}#comment-form"}
							{if:elseif channel_short_name == "blog"}
							{redirect="blog/post/{segment_3}#comment-form"}
							{/if}
							
							{if:else}
							
							{if segment_4 == "comment-return"}
							
							{if channel_short_name == "articles"}
							{redirect="article/{segment_3}#latest"}
							{if:elseif channel_short_name == "columns"}
							{redirect="column/{segment_3}#latest"}
							{if:elseif channel_short_name == "blog"}
							{redirect="blog/post/{segment_3}#latest"}
							{/if}
							
							{if:else}
							
							{if allow_comments}
								{if logged_in} 
 								{comment-form}
								{if:else} 
	 							{comment-sign-in} 
 								{/if}
	 						{if:else}
							<li class="system-message">Sorry, commenting is closed on this article.</li>
	 						{/if}
							
							{/if}
							
							{/exp:channel:entries}
							
						</ol>
