{exp:ifelse parse="inward"}

{if segment_3}

{redirect="/comments/{segment_2}"}

{if:else}

{if segment_2 != "embed-comments"}

{exp:channel:entries channel="articles|columns|blog" limit="1"}

{global-page-top}

	<title>Comments on the A List Apart {if channel_short_name == "columns"}Column{if:elseif channel_short_name == "blog"}Blog Post{if:else}Article{/if} {title}</title>

	<link rel="canonical" href="http://alistapart.com/comments/{url_title}"/>

	<style>
	{exp:user:authors backspace="1"}
	.member_{author_id},{/exp:user:authors} {
		border: 1px solid rgba(0,0,0,.4) !important;
	}

	{exp:user:authors backspace="1"}
	.member_{author_id}::before,{/exp:user:authors} {
		/*box-shadow: inset 0 0 18px -8px rgba(255,161,161,.9);*/
		content: url(/components/assets/img/laurel-white-2.svg) !important;
		padding-top: 3px !important;
		height: 23px !important;
	}
	</style>

</head>

<body>

{current-user-info-edit}

	{primary-logo}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry">

			<header class="entry-header">

				<h1 class="entry-title">Comments on <a href="/{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:else}article/{/if}{url_title}">{title}</a></h1>

				<p class="entry-details">

					by {embed="embeds/article-authors" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

				</p>

			</header>

			<div class="post-article single-column">

				<div class="column-holder">

					<section id="comments" class="column comment-holder">

						<h1 class="classy">{comment_total} Reader Comment{if comment_total > 1}s{/if}</h1>

						<a href="/{if channel_short_name == "columns"}column{if:elseif channel_short_name == "blog"}blog/post{if:else}article{/if}/{url_title}" class="buttonishish">Back to the {if channel_short_name == "columns"}Column{if:elseif channel_short_name == "blog"}Post{if:else}Article{/if}</a>

						{/exp:channel:entries}

						<ol class="article-comments" id="comments-parent" data-xid="{XID_HASH}">

							{exp:comment:entries sort="asc" dynamic="no" url_title="{segment_2}" limit="999"}
							{single-comment}
							{/exp:comment:entries}

							{exp:channel:entries limit="1" dynamic="no" url_title="{segment_2}"}

							{if allow_comments}
								{if logged_in}
								{comment-form}
								{if:else}
								{comment-sign-in}
								{/if}
							{if:else}
								<li class="system-message">Sorry, commenting is closed on this article.</li>
							{/if}

							{/exp:channel:entries}

						</ol>

					</section>

				</div>

			</div>

		</article>

		{global-footer}

	</div>

	{global-nav}

	{sponsor-top}

{global-page-bottom}

{/if}

{/if}

{/exp:ifelse}
