{exp:ifelse parse="inward"}

{if segment_3}

{redirect="/comments/{segment_2}"}

{if:else}

{if segment_2 != "embed-comments"}

{exp:channel:entries channel="articles|columns|blog" limit="1"}

{global-page-top}

	<title>Comments on the A List Apart {if channel_short_name == "columns"}Column{if:elseif channel_short_name == "blog"}Blog Post{if:else}Article{/if} {title}</title>

	{embed="embeds/article-author-styles" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

	<link rel="canonical" href="{site_url}/{segment_1}/{url_title}"/>

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry">

			<header class="entry-header">

				<h1 class="entry-title">Comments on <a href="/{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:else}article/{/if}{url_title}">{title}</a></h1>

				<p class="entry-details">

					<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {embed="embeds/article-authors-primary" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}</span>

					{exp:playa:parents status="open|In Progress"}<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}" itemprop="datePublished">{entry_date format="%F %d, %Y"}</time>{/exp:playa:parents}

					<span class="entry-meta optional-break">

						Published in {modern-categories}

					</span>

				</p>

			</header>

			<div class="post-article single-column">

				<div class="column-holder">

					<section id="comments" class="column comment-holder">

						<h1 class="classy">{comment_total} Reader Comment{if comment_total > 1}s{/if}</h1>

						<a href="/{if channel_short_name == "columns"}column{if:elseif channel_short_name == "blog"}blog/post{if:else}article{/if}/{url_title}" class="buttonishish">Back to the {if channel_short_name == "columns"}Column{if:elseif channel_short_name == "blog"}Post{if:else}Article{/if}</a>

						<?php
						$articleAuthor = '{embed="embeds/article-authors-test" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}';
						?>

						{/exp:channel:entries}

						<ol class="article-comments" id="comments-parent" data-xid="{XID_HASH}">

							{exp:comment:entries sort="asc" dynamic="no" url_title="{segment_2}" limit="999"}
							{single-comment}
							{/exp:comment:entries}

							{exp:channel:entries limit="1" dynamic="no" url_title="{segment_2}"}

							{if allow_comments}
								{if logged_in}
								{comment-form}
								{if:else}
								{comment-sign-in}
								{/if}
							{if:else}
								<li class="system-message">Sorry, commenting is closed on this article.</li>
							{/if}

							{/exp:channel:entries}

						</ol>

					</section>

				</div>

			</div>

		</article>

		{global-footer}

	</div>

	{sponsor-top}

{global-page-bottom}

{/if}

{/if}

{/exp:ifelse}
