{exp:channel:entries channel="articles|legacy_articles" limit="1" require_entry="yes" status="open|In Progress" show_future_entries="yes"}

{if no_results}
{redirect="404"}
{/if}

{global-page-top}

	<title>{title} · An A List Apart Article</title>

	<link rel="alternate" type="application/rss+xml" title="A feed for comments on this article" href="/comments/feed/{url_title}" />

{exp:switchee variable="{channel_short_name}" parse="inward"}

{case value="articles"}
{!--START CONTENT FROM ARTICLES CHANNEL - GO TO LINE 337 FOR LEGACY CHANNEL CONTENT--}

	{embed="embeds/article-author-styles" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

	{exp:stash:set name="safe-description"}{exp:strip_html}{exp:low_replace find="QUOTE" replace="'"}{if article_mini_deck}{article_mini_deck}{if:elseif article_deck}{article_deck}{/if}{/exp:low_replace}{/exp:strip_html}{/exp:stash:set}

	<link rel="canonical" href="{site_url}/{segment_1}/{url_title}"/>

	<meta name="description" content="{exp:stash:get name="safe-description"}" class="entry-summary">
	<meta name="author" content="{embed="embeds/article-authors-no-html" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alistapart">
	<meta name="twitter:title" content="{title}">
	<meta name="twitter:description" content="{exp:stash:get name="safe-description"}">
	<meta name="twitter:url" content="http://alistapart.com/article/{url_title}">

	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{exp:stash:get name="safe-description"}" />
	<meta property="og:url" content="http://alistapart.com/article/{url_title}" />
	<meta property="og:image" content="{article_responsive_illo}{url}{/article_responsive_illo}" />

</head>

<body class="printable {if comment_total > 0}comments-exist{/if}" itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry" itemscope itemtype="http://www.schema.org/Article">

			<header class="entry-header">

				{if article_responsive_illo}
				{exp:stash:set name="illustrator-credit"}
				{if article_suppress_credit != "y"}
				<p class="illustrator-credit" itemprop="contributor" itemscope itemtype="http://schema.org/Person">Illustration by
					{if "{article_illustrator:entry_id}" != ""}
					{article_illustrator}
					{embed="embeds/article-illustrator-link" entry_id="{article_illustrator:entry_id}"}
					{/article_illustrator}
					{if:else}
					<a href="/author/kcornell" itemprop="url"><span itemprop="name">Kevin Cornell</span></a>
					{/if}
				</p>
				{/if}
				{/exp:stash:set}
				{/if}

				{if article_responsive_illo}

				<figure class="wide-hero">
					<picture>
						{if width > height}
						<source srcset="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="1920" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 600px)">
						<img src="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="{legacy_article_illo_description}" itemprop="image">
						{if:else}
						<source srcset="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="696" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 960px)">
						<img src="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="{legacy_article_illo_description}" itemprop="image">
						{/if}
					</picture>
					{exp:stash:get name="illustrator-credit"}
				</figure>

				{/if}

				<h1 class="entry-title" itemprop="headline">{title}</h1>

				<p class="entry-details">

					<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {embed="embeds/article-authors-primary" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}</span>

					{exp:playa:parents status="open|In Progress"}<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}" itemprop="datePublished">{entry_date format="%F %d, %Y"}</time>{/exp:playa:parents}

					<span class="entry-meta optional-break">

						Published in {modern-categories}

					</span>

				</p>

				{exp:playa:parents status="open|In Progress" show_future_entries="yes"}
				{if status != "open" OR {entry_date} > {current_time}}
				<p class="meta warning" style="display: inline-block; background: #ffffef; outline: 3px solid #ffffef;">

					{if status != "open"}
					<strong>Please note:</strong> This issue has not yet been set to "open."
					{if:else}
					<strong>Please note:</strong> This issue is ready, and will go live when it hits its publish time.
					{/if}

				</p>
				{/if}
				{/exp:playa:parents}

			</header>

			{if article_series || legacy_article_series}
				{article-series-logic}
			{/if}

			{if article_editors_note || legacy_article_editors_note}
			<div class="main-content pre-article">
				<p class="editors-note"><b>A note from the editors:</b> {article_editors_note}{legacy_article_editors_note}</p>
			</div>
			{/if}

			{legacy_article_outdated}
			{if legacy_article_age_flag == 'y'}
			<div class="main-content pre-article">
			   <p class="editors-note var1"><b>{if custom_note}{custom_note}{if:else}Technical information may be out of date.{/if}</b> {if updated_entry}For more recent approaches, read {updated_entry}<a href="{site_url}/{if "{channel_short_name}" == "blog"}blog/post/{if:elseif "{channel_short_name}" == "columns"}column/{if:elseif "{channel_short_name}" == "articles"}article/{/if}{url_title}" title="{title}">{title}</a>{/updated_entry}.{/if}</p>
			</div>
			{/if}
			{/legacy_article_outdated}

			{if article_opening_blockquote || legacy_article_opening_blockquote}
			<div class="main-content">

				{article_opening_blockquote}{legacy_article_opening_blockquote}

			</div>
			{/if}

			<div class="main-content" itemprop="articleBody">

				{exp:hop_inject where="<p>" always_inject="y"}

				{exp:hop_inject:injection separator="2" position="before"}

				{content-minutiae}

				{ads-article}

				{/exp:hop_inject:injection}

				{article_content}{legacy_article_content}

				{/exp:hop_inject}

				{if article_footnotes || legacy_article_footnotes}
				<section class="entry-footnotes">

					<h1>Notes</h1>

					<ul class="the-footnotes">
						{article_footnotes}
						<li id="note{row_count}"><a class="count" href="#ref{row_count}">{row_count}. </a>{cell_1}</li>
						{/article_footnotes}
						{legacy_article_footnotes}
						<li id="note{row_count}"><a class="count" href="#ref{row_count}">{row_count}. </a>{cell_1}</li>
						{/legacy_article_footnotes}
					</ul>

				</section>
				{/if}

				<!-- START RELATED SIDEBAR -->
				{exp:stash:set name="total-children"}{exp:playa:parents channel="issues" status="open"}{exp:playa:total_children}{/exp:playa:parents}{/exp:stash:set}
				{exp:stash:set name="has-parents"}{exp:playa:parents channel="articles|legacy_articles|blog|columns" status="open"}{exp:playa:total_children}{/exp:playa:parents}{/exp:stash:set}
				{exp:stash:set name="entry-id"}{entry_id}{/exp:stash:set}
				<aside id="related" class="sidebar var1 nocontent">
				<i class="widget-branding ala"></i>
				{if '{exp:stash:get name="has-parents"}' >= 1}
				<!-- start first block--><!-- if this article has a follow up - show the follow up -->
					<section class="follow-up">
						<h1>Follow-up</h1>
						{exp:playa:parents channel="articles|legacy_articles|columns|blog"}
						<article>
							<h1><a href="{site_url}/{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Follow up">{title}</a></h1>
							{if blog_follow_up_note OR article_follow_up_note OR legacy_article_follow_up_note OR column_follow_up_note}
								<p>{exp:strip_html}{blog_follow_up_note}{article_follow_up_note}{legacy_article_follow_up_note}{column_follow_up_note}{/exp:strip_html}</p>
							{if:else}
								<p>{exp:strip_html}
									{if channel_short_name=='blog'}
										{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
									{if:elseif channel_short_name=='columns'}
										{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
									{if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}
										{if article_mini_deck || legacy_article_mini_deck}{article_mini_deck}{legacy_article_mini_deck}{if:elseif article_deck || legacy_article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{legacy_article_deck}{/exp:trunchtml}{/if}
									{/if}
								{/exp:strip_html}</p>
							{/if}
						</article>
						{/exp:playa:parents}
					</section>
				{/if}
				<!-- if this article does not have a follow up, and the issue has two articles show the other article -->
				{if '{exp:stash:get name="has-parents"}' == ''}
					{if '{exp:stash:get name="total-children"}' > 1}
					<section>
					{exp:playa:parents channel="issues" status="open"}
					{exp:stash:set name="issue-number-sidebar"}{issue_number}{/exp:stash:set}
					{exp:stash:set name="article-illo-sidebar"}{issue_number}{/exp:stash:set}
					{exp:playa:children status="open"}
					{if entry_id != {exp:stash:get name="entry-id"}}
						{legacy_article_illustration}
						<figure class="sidebar-hero {if width > height}wideone{/if}" data-picture data-alt="">
							<div data-src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="61"}{made}{/exp:ce_img:pair}"></div>
							<div data-src="{exp:ce_img:pair src="{url}" width="644" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" data-media="(min-width: 600px) and (min-device-pixel-ratio: 2.0)"></div>
							<noscript><img src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" alt=""></noscript>
						</figure>
						{/legacy_article_illustration}
						<h1>Also in Issue №&nbsp;{exp:stash:get name="issue-number-sidebar"}</h1>
						<article>
						<h1><a href="/article/{url_title}" data-trackevent="Related sidebar: Also in issue">{title}</a></h1>
						<p>{exp:strip_html}{if legacy_article_mini_deck}<p>{legacy_article_mini_deck}</p>{if:elseif legacy_article_deck}<p>{exp:trunchtml chars="130" inline="..."}{legacy_article_deck}{/exp:trunchtml}</p>{/if}{/exp:strip_html}</p>
						</article>
					{/if}
					{/exp:playa:children}
					{/exp:playa:parents}
					</section>
					{if:elseif '{exp:stash:get name="total-children"}' == 1}
						{embed="embeds/recently-by-author" entry_id="{entry_id}"}
					{/if}
				{/if}<!-- end first block -->
				<!-- show categories -->
				{if "{categories}{category_url_title}{/categories}"!=""}
					{embed="embeds/primary-category-logic" id="{entry_id}"}
				{/if}
				{if '{exp:stash:get name="has-parents"}' == ''}
					{if '{exp:stash:get name="total-children"}' == 1}
						<section class="related-articles events">
						{embed="embeds/event-entries"}
						</section>
					{/if}
				{/if}
				</aside>
				<!-- END RELATED SIDEBAR -->

				<footer class="entry-footer nocontent">

					{embed="embeds/article-author-bio" entry_author="{author_id}" entry_id="{entry_id}"}

				</footer>

				{email-promo}

			</div>

			<div class="post-article">

				<div class="column-holder unequal-columns">

					<section id="comments" class="column comment-holder">

						{if comment_total > 0}
							<h1 class="classy" itemprop="commentCount">{comment_total} Reader Comment{if comment_total > 1}s{/if}</h1>

							<a href="/comments/{url_title}" id="load-comments" data-url-title="{url_title}" class="buttonish">Load Comments</a>

							{if logged_out}
								{comment-sign-in}
							{if:else}
								{comment-form}
							{/if}


						{if:else}

							<h1 class="classy">No Comments{if allow_comments} (yet){/if}</h1>

							{if logged_in}<ol class="article-comments"> {comment-form}</ol>
		 					{if:else}<ol class="article-comments"> {comment-sign-in}</ol>{/if}

						{/if}

					</section>
{!--END CONTENT FROM ARTICLES CHANNEL --}
{/case}

{case value="legacy_articles"}
{!--START CONTENT FROM LEGACY ARTICLE CHANNEL --}
{legacy_article_custom_head}

	{embed="embeds/article-author-styles" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

	{exp:stash:set name="safe-description"}{exp:strip_html}{exp:low_replace find="QUOTE" replace="'"}{if legacy_article_mini_deck}{legacy_article_mini_deck}{if:elseif legacy_article_deck}{legacy_article_deck}{/if}{/exp:low_replace}{/exp:strip_html}{/exp:stash:set}

	{if legacy_article_custom_css}
	<style>
		{legacy_article_custom_css}
	</style>
	{/if}

	<link rel="canonical" href="{site_url}/{segment_1}/{url_title}"/>

	<meta name="description" content="{exp:stash:get name="safe-description"}" class="entry-summary">
	<meta name="author" content="{embed="embeds/article-authors-no-html" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alistapart">
	<meta name="twitter:title" content="{title}">
	<meta name="twitter:description" content="{exp:stash:get name="safe-description"}">
	<meta name="twitter:url" content="http://alistapart.com/article/{url_title}">

	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{exp:stash:get name="safe-description"}" />
	<meta property="og:url" content="http://alistapart.com/article/{url_title}" />
	<meta property="og:image" content="{legacy_article_illustration}{url}{/legacy_article_illustration}{article_responsive_illo}{url}{/article_responsive_illo}" />

</head>

<body class="printable {if comment_total > 0}comments-exist{/if}" itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper">

		<article class="article-layout hentry" itemscope itemtype="http://www.schema.org/Article">

			<header class="entry-header">

				{exp:stash:set name="issue-number"}{exp:playa:parents status="open|In Progress"}<span itemprop="isPartOf" itemscope itemtype="http://schema.org/PublicationIssue"><a href="/issue/{issue_number}" class="issue-number" itemprop="url" ><span class="badge">Issue №</span> <span itemprop="issueNumber">{issue_number}</span></a></span> {/exp:playa:parents}{/exp:stash:set}

				{if legacy_article_illustration OR legacy_article_legacy_illo}
				{exp:stash:set name="illustrator-credit"}
				{if legacy_article_suppress_credit != "y"}
				<p class="illustrator-credit" itemprop="contributor" itemscope itemtype="http://schema.org/Person">Illustration by
					{if "{legacy_article_illustrator:entry_id}" != ""}
					{legacy_article_illustrator}
					{embed="embeds/article-illustrator-link" entry_id="{legacy_article_illustrator:entry_id}"}
					{/legacy_article_illustrator}
					{if:else}
					<a href="/author/kcornell" itemprop="url"><span itemprop="name">Kevin Cornell</span></a>
					{/if}
				</p>
				{/if}
				{/exp:stash:set}
				{/if}

				{if legacy_article_responsive_illo != ""}

				<figure class="wide-hero responsive-hero">
					<picture>

						{legacy_article_responsive_illo}
						<source srcset="{exp:ce_img:pair src="{cell_1}" width="{cell_2}" crop="no" save_type="jpg" quality="61"}{made}{/exp:ce_img:pair}" {if cell_2 != ""}media="(min-width: {cell_2}px)"{/if}>
						{/legacy_article_responsive_illo}

						{legacy_article_illustration}<img src="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" alt="{legacy_article_illo_description}" itemprop="image">{/legacy_article_illustration}

					</picture>

					{exp:stash:get name="issue-number"}
					{exp:stash:get name="illustrator-credit"}
				</figure>

				{if:else}

				{if legacy_article_illustration}

				{legacy_article_illustration}
				<figure class="wide-hero">
					<picture>
						{if width > height}
						<source srcset="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="1920" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 600px)">
						<img src="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="{legacy_article_illo_description}" itemprop="image">
						{if:else}
						<source srcset="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="696" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 960px)">
						<img src="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="{legacy_article_illo_description}" itemprop="image">
						{/if}
					</picture>
					{exp:stash:get name="issue-number"}
					{exp:stash:get name="illustrator-credit"}
				</figure>
				{/legacy_article_illustration}

				{if:elseif legacy_article_legacy_illo}
				<figure class="wide-hero">
				{legacy_article_legacy_illo}
				{exp:stash:get name="issue-number"}
				{exp:stash:get name="illustrator-credit"}
				</figure>
				{if:else}
				{exp:stash:get name="issue-number"}
				{/if}

				{/if}

				<h1 class="entry-title" itemprop="headline">{title}</h1>

				<p class="entry-details">

					<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {embed="embeds/article-authors-primary" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}</span>

					{exp:playa:parents status="open|In Progress"}<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}" itemprop="datePublished">{entry_date format="%F %d, %Y"}</time>{/exp:playa:parents}

					<span class="entry-meta optional-break">

						Published in {modern-categories}

					</span>

				</p>

				{exp:playa:parents status="open|In Progress" show_future_entries="yes"}
				{if status != "open" OR {entry_date} > {current_time}}
				<p class="meta warning" style="display: inline-block; background: #ffffef; outline: 3px solid #ffffef;">

					{if status != "open"}
					<strong>Please note:</strong> This issue has not yet been set to "open."
					{if:else}
					<strong>Please note:</strong> This issue is ready, and will go live when it hits its publish time.
					{/if}

				</p>
				{/if}
				{/exp:playa:parents}

			</header>

			{if legacy_article_series}
				{article-series-logic}
			{/if}

			{if legacy_article_editors_note}
			<div class="main-content pre-article">
				<p class="editors-note"><b>A note from the editors:</b> {legacy_article_editors_note}</p>
			</div>
			{/if}

			{legacy_article_outdated}
			{if legacy_article_age_flag == 'y'}
			<div class="main-content pre-article">
			   <p class="editors-note var1"><b>{if custom_note}{custom_note}{if:else}Technical information may be out of date.{/if}</b> {if updated_entry}For more recent approaches, read {updated_entry}<a href="{site_url}/{if "{channel_short_name}" == "blog"}blog/post/{if:elseif "{channel_short_name}" == "columns"}column/{if:elseif "{channel_short_name}" == "articles"}article/{/if}{url_title}" title="{title}">{title}</a>{/updated_entry}.{/if}</p>
			</div>
			{/if}
			{/legacy_article_outdated}

			{if legacy_article_opening_blockquote}
			<div class="main-content">

				{legacy_article_opening_blockquote}

			</div>
			{/if}

			<div class="main-content" itemprop="articleBody">

				{exp:hop_inject where="<p>" always_inject="y"}

				{exp:hop_inject:injection separator="2" position="before"}

				{content-minutiae}

				{ads-article}

				{/exp:hop_inject:injection}

				{legacy_article_content}

				{/exp:hop_inject}

				{if legacy_article_footnotes}
				<section class="entry-footnotes">

					<h1>Notes</h1>

					<ul class="the-footnotes">
						
						{legacy_article_footnotes}
						<li id="note{row_count}"><a class="count" href="#ref{row_count}">{row_count}. </a>{cell_1}</li>
						{/legacy_article_footnotes}

					</ul>

				</section>
				{/if}

				<!-- START RELATED SIDEBAR -->
				{exp:stash:set name="total-children"}{exp:playa:parents channel="issues" status="open"}{exp:playa:total_children}{/exp:playa:parents}{/exp:stash:set}
				{exp:stash:set name="has-parents"}{exp:playa:parents channel="articles|legacy_articles|blog|columns" status="open"}{exp:playa:total_children}{/exp:playa:parents}{/exp:stash:set}
				{exp:stash:set name="entry-id"}{entry_id}{/exp:stash:set}
				<aside id="related" class="sidebar var1 nocontent">
				<i class="widget-branding ala"></i>
				{if '{exp:stash:get name="has-parents"}' >= 1}
				<!-- start first block--><!-- if this article has a follow up - show the follow up -->
					<section class="follow-up">
						<h1>Follow-up</h1>
						{exp:playa:parents channel="articles|legacy_articles|columns|blog"}
						<article>
							<h1><a href="{site_url}/{if channel_short_name=='blog'}{channel_short_name}/post/{url_title}{if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}article/{url_title}{if:elseif channel_short_name=='columns'}column/{url_title}{/if}" data-trackevent="Related sidebar: Follow up">{title}</a></h1>
							{if blog_follow_up_note OR article_follow_up_note OR legacy_article_follow_up_note OR column_follow_up_note}
								<p>{exp:strip_html}{blog_follow_up_note}{article_follow_up_note}{legacy_article_follow_up_note}{column_follow_up_note}{/exp:strip_html}</p>
							{if:else}
								<p>{exp:strip_html}
									{if channel_short_name=='blog'}
										{if blog_mini_deck}{blog_mini_deck}{if:elseif blog_intro}{exp:trunchtml chars="130" inline="..."}{blog_intro}{/exp:trunchtml}{/if}
									{if:elseif channel_short_name=='columns'}
										{if column_mini_deck}{column_mini_deck}{if:elseif column_intro}{exp:trunchtml chars="130" inline="..."}{column_intro}{/exp:trunchtml}{/if}
									{if:elseif channel_short_name=='articles' || channel_short_name=='legacy_articles'}
										{if article_mini_deck || legacy_article_mini_deck}{article_mini_deck}{legacy_article_mini_deck}{if:elseif article_deck || legacy_article_deck}{exp:trunchtml chars="130" inline="..."}{article_deck}{legacy_article_deck}{/exp:trunchtml}{/if}
									{/if}
								{/exp:strip_html}</p>
							{/if}
						</article>
						{/exp:playa:parents}
					</section>
				{/if}
				<!-- if this article does not have a follow up, and the issue has two articles show the other article -->
				{if '{exp:stash:get name="has-parents"}' == ''}
					{if '{exp:stash:get name="total-children"}' > 1}
					<section>
					{exp:playa:parents channel="issues" status="open"}
					{exp:stash:set name="issue-number-sidebar"}{issue_number}{/exp:stash:set}
					{exp:stash:set name="article-illo-sidebar"}{issue_number}{/exp:stash:set}
					{exp:playa:children status="open"}
					{if entry_id != {exp:stash:get name="entry-id"}}
						{legacy_article_illustration}
						<figure class="sidebar-hero {if width > height}wideone{/if}" data-picture data-alt="">
							<div data-src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="61"}{made}{/exp:ce_img:pair}"></div>
							<div data-src="{exp:ce_img:pair src="{url}" width="644" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" data-media="(min-width: 600px) and (min-device-pixel-ratio: 2.0)"></div>
							<noscript><img src="{exp:ce_img:pair src="{url}" width="322" crop="no" save_type="jpg" quality="10"}{made}{/exp:ce_img:pair}" alt=""></noscript>
						</figure>
						{/legacy_article_illustration}
						<h1>Also in Issue №&nbsp;{exp:stash:get name="issue-number-sidebar"}</h1>
						<article>
						<h1><a href="/article/{url_title}" data-trackevent="Related sidebar: Also in issue">{title}</a></h1>
						<p>{exp:strip_html}{if legacy_article_mini_deck}<p>{legacy_article_mini_deck}</p>{if:elseif legacy_article_deck}<p>{exp:trunchtml chars="130" inline="..."}{legacy_article_deck}{/exp:trunchtml}</p>{/if}{/exp:strip_html}</p>
						</article>
					{/if}
					{/exp:playa:children}
					{/exp:playa:parents}
					</section>
					{if:elseif '{exp:stash:get name="total-children"}' == 1}
						{embed="embeds/recently-by-author" entry_id="{entry_id}"}
					{/if}
				{/if}<!-- end first block -->
				<!-- show categories -->
				{if "{categories}{category_url_title}{/categories}"!=""}
					{embed="embeds/primary-category-logic" id="{entry_id}"}
				{/if}
				{if '{exp:stash:get name="has-parents"}' == ''}
					{if '{exp:stash:get name="total-children"}' == 1}
						<section class="related-articles events">
						{embed="embeds/event-entries"}
						</section>
					{/if}
				{/if}
				</aside>
				<!-- END RELATED SIDEBAR -->

				<footer class="entry-footer nocontent">

					{embed="embeds/article-author-bio" entry_author="{author_id}" entry_id="{entry_id}"}

				</footer>

				{email-promo}

			</div>

			<div class="post-article">

				<div class="column-holder unequal-columns">

					<section id="comments" class="column comment-holder">

						{if comment_total > 0}
							<h1 class="classy" itemprop="commentCount">{comment_total} Reader Comment{if comment_total > 1}s{/if}</h1>

							<a href="/comments/{url_title}" id="load-comments" data-url-title="{url_title}" class="buttonish">Load Comments</a>

							{if logged_out}
								{comment-sign-in}
							{if:else}
								{comment-form}
							{/if}


						{if:else}

							<h1 class="classy">No Comments{if allow_comments} (yet){/if}</h1>

							{if logged_in}<ol class="article-comments"> {comment-form}</ol>
		 					{if:else}<ol class="article-comments"> {comment-sign-in}</ol>{/if}

						{/if}

					</section>
{!--END CONTENT FROM LEGACY ARTICLE CHANNEL --}
{/case}

{/exp:switchee}

{/exp:channel:entries}

					<aside class="column more-content">

						{more-from-ala}

						{ad-bsa-text}

					</aside>

				</div>

			</div>

		</article>



	</div>

	{global-footer}

	{sponsor-top}

	{exp:channel:entries channel="legacy_articles" limit="1" require_entry="yes" status="open|In Progress" show_future_entries="yes"}

	{if legacy_article_custom_body_load}
	<script>
	$(window).load(function() {
		// this comment prevents EE from trying to parse the previous curly brace
		{legacy_article_custom_body_load}

	});
	</script>
	{/if}

	{if legacy_article_custom_javascript}
	<script>
		{legacy_article_custom_javascript}
	</script>
	{/if}

	{/exp:channel:entries}

{current-user-info-edit}

{global-page-bottom}
