<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/_/css/style.css">

	<link rel="stylesheet" href="/_/css/readable.css">

	<link rel="stylesheet" href="/_/css/prism.css">

	<script src="/_/js/libs/modernizr-2.5.3.min.js"></script>

	<title>A List Apart: The Topics</title>
	<meta name="description" content="">
	<meta name="author" content="">
		
</head>

<body>

{global-header}

<div role="main">
	
	<header>
	
		<h1>Topics</h1>
		
	</header>
	
	<hr>
	
	<section data-title="all categories">
		
		<ol>
		{exp:channel:categories style="linear" category_group="3" parent_only="yes"}
			<li>
				<img src="{category_image}" alt="" /><br>
				<a href="/topics/{category_url_title}">{category_name}</a> ({exp:catcount cat_id="{category_id}"})
				<ul>
					{exp:gwcode_categories cat_id="{category_id}" incl_self="no" style="linear" entry_count="yes"}
						<li><a href="/topic/{cat_url_title}">{cat_name}</a> ({entry_count})</li>
					{/exp:gwcode_categories}
				</ul>
			</li>
		{/exp:channel:categories}
		</ol>

	</section>
	
</div>

{current-user-info}

{global-footer}

{global-js}

{page-bottom}