{global-page-top}

	<title>Sign up for emails from A List Apart</title>

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				{if segment_2 == "thanks"}<p class="form-message">Got it, thanks!</p>{/if}

				<h1 class="basic-title">Get ALA via Email</h1>

				<!-- Begin MailChimp Signup Form -->
				<form action="//alistapart.us3.list-manage.com/subscribe/post?u=0916d3332d7cd86d644d2b4fe&amp;id=f1ea1ab5a3" method="post" id="email-subscribe" name="mc-embedded-subscribe-form" class="simple-form" novalidate data-customvalidate="no">

					<fieldset>

						<label for="mce-NAME">Name
						<input type="text" name="NAME" id="mce-NAME" value="{screen_name}" required /></label>

						<label for="mce-EMAIL">Email address
						<input type="email" name="EMAIL" id="mce-EMAIL" value="{email}" required /></label>

					</fieldset>

					<fieldset>

						<label class="list"><input type="checkbox" value="32" name="group[12377][32]" id="mce-group[12377]-12377-5"> Everything as it's published (two or three pieces a week)</label>
						<label class="list"><input type="checkbox" value="8" name="group[12377][8]" id="mce-group[12377]-12377-3"> Our twice-monthly digest</label>

					</fieldset>

					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0916d3332d7cd86d644d2b4fe_f1ea1ab5a3" tabindex="-1" value=""></div>

				    <p class="form-message error"></p>

					<p class="screen-reader">
						<label for="honeepot">Don't put anything here</label>
						<input type="text" name="honeepot" id="honeepot" />
					</p>

				    <p><input type="submit" value="Submit" /></p>

				</form>

				<!--End mc_embed_signup-->

			</article><!--

			--><div class="secondary-column">

				{sponsor-top}

				{about-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}