{exp:channel:entries channel="pages" limit="1" status="open" dynamic="off" url_title="contact"}

{global-page-top}

	<title>Contact A List Apart</title>

	<link rel="canonical" href="{site_url}/{segment_1}"/>

</head>

<body>

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content">

				<h1 class="basic-title">{title}</h1>

				{page_content}

			</article><!--

			--><div class="secondary-column">

				{sponsor-top}

				{about-nav}

				{ads}

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}

{/exp:channel:entries}
