{if segment_2}

{exp:channel:entries channel="pages" limit="1" status="open|In Progress" dynamic="off" url_title="{segment_2}" require_entry="yes"}

{if no_results}
{redirect="404"}
{/if}

{global-page-top}

	<title>A List Apart: {title}</title>

	<link rel="canonical" href="{site_url}/{segment_1}{if segment_2}/{segment_2}{/if}{if segment_3}/{segment_3}{/if}"/>

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

	<div role="main" class="main-wrapper{if page_no_right_col == "y"} single-column-display{if:else} two-column-display{/if}">

		<div class="col-holder">

			<article class="main-content{if page_no_right_col == "y"} breathing-room{/if}" itemscope itemtype="http://schema.org/AboutPage">

				<h1 class="basic-title" itemprop="name">{title}</h1>

				{page_content}

			</article>{if page_no_right_col != "y"}<!--

			--><div class="secondary-column">

				{sponsor-top}

				{about-nav}

				<script src="/{assets_path}/js/libs/htmlParser.js"></script>
				<script src="/{assets_path}/js/libs/postscribe.js"></script>
				{bsa_apiads}
				<aside id="job-board-target" class="job-board ad"></aside>

			</div>{/if}

			{/exp:channel:entries}

		</div>

		{global-footer}

	</div>

</div>

{global-page-bottom}

{if:else}

{exp:channel:entries channel="pages" limit="1" status="open" dynamic="off" url_title="{segment_1}"}

{global-page-top}

	<title>A List Apart: {title}</title>

	<link rel="canonical" href="{site_url}/{segment_1}{if segment_2}/{segment_2}{/if}{if segment_3}/{segment_3}{/if}"/>

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info-edit}

<div role="main">

	<div role="main" class="main-wrapper two-column-display">

		<div class="col-holder">

			<article class="main-content" itemscope itemtype="http://schema.org/AboutPage">

				<h1 class="basic-title" itemprop="name">{title}</h1>

				{page_content}

				{/exp:channel:entries}

			</article><!--

			--><div class="secondary-column">

				{sponsor-top}

				{about-nav}

				<script src="/{assets_path}/js/libs/htmlParser.js"></script>
				<script src="/{assets_path}/js/libs/postscribe.js"></script>
				{bsa_apiads}
				<aside id="job-board-target" class="job-board ad"></aside>

			</div>

		</div>



	</div>

{global-footer}

{global-page-bottom}

{/if}