{exp:ala_headers:cors}
{!--exp:ce_cache:it id="page" seconds="86400"--}
<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	{exp:minimee:css}
	<link rel="stylesheet" href="{site_url}/components/assets/css/embedded.css">
	{/exp:minimee:css}
	<base target="_parent">
</head>
<body itemscope itemtype="http://schema.org/WebPage">
{exp:comment:entries sort="asc" dynamic="no" comment_id="{segment_2}"}
	<div class="ala-embedded-comment" id="ala-embedded-comment">
		{if avatar}
			<img class="commenter-avatar avatar" src="{avatar_url}" alt="" />
		{if:elseif photo_filename}
			{exp:ce_img:pair src="{photo_url}" width="60" height="60" crop="yes"}
			<img class="commenter-avatar photo" src="{made}" alt="" />
			{/exp:ce_img:pair}
		{if:elseif email == ""}
			<img class="commenter-avatar generic" width="60" height="60" src="http://alistapart.com/components/assets/img/avatar_generic-commenter_grey.png" alt="" />
		{if:else}
			<?php
			$email = "{email}";
			$default = "https://alistapart.com/components/assets/img/avatar_generic-commenter_grey.png";
			$size = 60;
			
			$grav_url = "https://www.gravatar.com/avatar/" . md5( strtolower( trim( $email ) ) ) . "?d=" . urlencode( $default ) . "&s=" . $size;
			?>
			<img class="commenter-avatar" src="<?php echo $grav_url; ?>" width="60" height="60" alt="" />
		{/if}
		<span class="commenter-name">{name}</span>
		<span class="comment-meta">commented on <a href="http://alistapart.com/comments/{url_title}#{comment_id}">{title}</a> · <time>{comment_date format="%F %d, %Y"}</time></span>
		
		{exp:strip_html keep='b|em|a|i|blockquote'}{comment}{/exp:strip_html}
		
		<p class="article-link"><a href="{site_url}/{if channel_title == "Columns"}column{if:elseif channel_title == "Blog Posts"}blog/post{if:else}article{/if}/{url_title}">Read the full {if channel_title == "Columns"}column{if:elseif channel_title == "Blog Posts"}blog post{if:else}article{/if} on A List Apart</a></p>
		
	</div>
{/exp:comment:entries}
</body>
</html>
{!--/exp:ce_cache:it--}