{global-page-top}

	<title>A List Apart Events</title>
	<meta name="description" content="">

</head>

<body>

{current-user-info}

	{primary-logo}

	<h1 class="section-title">Events</h1>
	<h2 class="section-sub-title">Conversations that bring our community together</h2>

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<article class="main-content">

				<header class="author-header">

					<h1>Designing for Performance:<br>Can We Have it All?</h1>

				</header>

				<figure class="video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/_BNH1ixbw7E" frameborder="0" allowfullscreen></iframe>
				</figure>

				<div class="event-details">

					<div class="logistics">

						<div class="logistics-block">

							<h2>Format</h2>

							<span class="where">Google Hangout</span>
							<span class="what1">30-minute panel chat</span>
							<span class="what2">30-minute audience Q&A</span>

						</div><!--
						--><div class="logistics-block">

							<h2>Aired</h2>

							<time>
								<span class="weekday">Thursday</span>
								<span class="big-number">26</span>
								<span class="month-year">February 2015</span>
								<span class="time">1–2 PM EST</span>
							</time>

						</div><!--
						--><div class="logistics-block">

							<h2>Get Event Alerts</h2>

							<span><a href="/email-signup">Register for our email list</a> to get notified of upcoming events.</span>

						</div>

					</div><!--
					--><div id="bsap_2006" class="bsaPROrocks" data-serve="C6YDT2QY"></div>

				</div>

				<div class="event-copy">

					<p>Everyone wants sites that are responsive, beautiful, and fast. Do we need to make tradeoffs? And whose job is performance, anyway? Our panel of designers and developers share their stories, strategies, and case studies from both in-house and agency teams.</p>

					<h2>Key Topics</h2>

					<ul>
						<li>Auditing an existing site’s performance</li>
						<li>Setting performance budgets</li>
						<li>Prioritizing and making design decisions</li>
						<li>Getting clients and colleagues on board</li>
					</ul>

					<h2>Featuring</h2>

					<ul class="people-list">
						<li>
							<img src="/assets/site_assets/img/misc/lara.png" alt="photo of Lara Hogan">
							<a class="name-link" href="#name1">Lara Hogan</a>
							<span>Author of <a href="http://shop.oreilly.com/product/0636920033578.do"><cite>Designing for Performance</cite></a> (O’Reilly, 2014)</span>
						</li>
						<li>
							<img src="/assets/site_assets/img/misc/scott.png" alt="photo of Scott Jehl">
							<a class="name-link" href="#name2">Scott Jehl</a>
							<span>Author of <a href="http://www.abookapart.com/products/responsible-responsive-design"><cite>Responsible Responsive Design</cite></a> (A Book Apart, 2014)</span>
						</li>
						<li>
							<img src="/assets/site_assets/img/misc/yesenia.png" alt="photo of Yesenia Perez-Cruz">
							<a class="name-link" href="#name3">Yesenia Perez-Cruz</a>
							<span>Speaker, <a href="http://aneventapart.com/event/atlanta-2015">An Event Apart</a> and <a href="http://www.webdirections.org/respond15/">Respond2015</a></span>
						</li>
						<li>
							<img src="/assets/site_assets/img/misc/mat.png" alt="photo of Mat Marquis">
							<a class="name-link" href="#name4">Mat Marquis</a>
							<span><cite>ALA</cite> technical editor and speaker, <a href="http://aneventapart.com/event/atlanta-2015">An Event Apart</a></span>
						</li>
					</ul>

				</div>

			</article>

		</div>

	</div>

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				<h1 class="section-sub-title columnists">Participants</h1>

				<article id="name1" class="item-summary article columnist">

					<header class="column-summary-header">

						<img class="restrain" src="/assets/site_assets/img/misc/lara.png" alt="">

						<span class="event-role">Panelist</span>

						<h1>Lara Hogan</h1>

						<p>Lara Hogan champions performance as a part of the overall user experience, and is the author of <a href="http://shop.oreilly.com/product/0636920033578.do"><cite>Designing for Performance</cite></a> (O’Reilly, 2014). She believes in striking a balance between aesthetics and speed, and in building performance into company culture. Lara speaks and <a href="https://twitter.com/lara_hogan">tweets</a>, and is currently senior engineering manager of performance at <a href="https://www.etsy.com/">Etsy</a>.</p>

					</header>

				</article>

				<article id="name2" class="item-summary article columnist">

					<header class="column-summary-header">

						<img class="restrain" src="/assets/site_assets/img/misc/scott.png" alt="">

						<span class="event-role">Panelist</span>

						<h1>Scott Jehl</h1>

						<p><a href"http://scottjehl.com">Scott Jehl</a> releases <a href="http://github.com/scottjehl">projects on GitHub</a> that focus on accessible, sustainable, and performance-oriented practices for cross-device development. He speaks at conferences around the world and recently authored <a href="http://www.abookapart.com/products/responsible-responsive-design"><cite>Responsible Responsive Design</cite></a> (A Book Apart, 2014). Scott is a web designer and developer at <a href="http://filamentgroup.com">Filament Group</a>; his clients include the <cite>Boston Globe</cite>, LEGO, <cite>Global News</cite>, and eBay. He <a href="http://twitter.com/scottjehl">tweets</a> early and often.</p>

					</header>

				</article>

				<article id="name3" class="item-summary article columnist">

					<header class="column-summary-header">

						<img class="restrain" src="/assets/site_assets/img/misc/yesenia.png" alt="">

						<span class="event-role">Panelist</span>

						<h1>Yesenia Perez-Cruz</h1>

						<p><a href="http://www.yeseniaperezcruz.com/">Yesenia Perez-Cruz</a> is a Philadelphia-based designer working at <a href="https://intuitivecompany.com/">Intuitive Company</a>. She is also a <a href="http://www.yeseniaperezcruz.com/speaking/">speaker</a> at international conferences, in demand for talks specializing in balancing performance with design, cross-team collaboration, and how to be flexible with your design process. She honed her design and user experience skills while working at Happy Cog for clients like Zappos, MTV, and Jose Garces. She also acts as an acquisitions scout for <cite>A List Apart</cite>.</p>

					</header>

				</article>

				<article id="name4" class="item-summary article columnist">

					<header class="column-summary-header">

						<img class="restrain" src="/assets/site_assets/img/misc/mat.png" alt="">

						<span class="event-role">Panel Coordinator</span>

						<h1>Mat Marquis</h1>

						<p>Mat Marquis <a href="http://twitter.com/wilto">tweets</a> prolifically, makes websites for a living at <a href="http://bocoup.com/">Bocoup</a>, and chairs the <a href="http://ricg.io/">Responsive Issues Community Group</a>. He’s also a technical editor at <cite>A List Apart</cite> and a former member of the <a href="http://jquerymobile.com/">jQuery Mobile</a> team.</p>

					</header>

				</article>

			</section>

		</div>

	</div>

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				<h1 class="section-sub-title serif">About our events</h1>

				<p>Bringing the feel of a local web meetup to the online space, our community-focused sessions discuss the events of the day—or hour. We bring together experts and readers for realtalk—not just presentations. Join us to hear new voices, ask tough questions, and take our community’s conversations further.</p>

			</section>

		</div>

		<div id="bsap_2007" class="bsaPROrocks" data-serve="C6YDT2Q7"></div>

	</div>

	{global-nav}

{sponsor-top}

{global-footer}

{global-page-bottom}
