{exp:ifelse parse="inward"}

{if segment_2}

{exp:redirecturl url="http://alistapart.com/event/{segment_2}"}

{if:else}

{exp:channel:entries channel="events" limit="1" status="open" show_future_entries="yes" show_expired="yes" dynamic="no"}

{if no_results}
{redirect="404"}
{/if}

{global-page-top}

	<title>{title} · An A List Apart Event</title>

	{exp:stash:set name="safe-description"}{exp:ala_typography:inline}{exp:strip_html}{event_deck}{/exp:strip_html}{/exp:ala_typography:inline}{/exp:stash:set}

	<link rel="canonical" href="http://alistapart.com/events"/>

	<meta name="description" content="{exp:stash:get name="safe-description"}">
	<meta name="author" content="{embed="embeds/article-authors-no-html" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alistapart">
	<meta name="twitter:title" content="{title}">
	<meta name="twitter:description" content="{exp:stash:get name="safe-description"}">
	<meta name="twitter:url" content="http://alistapart.com/event/{url_title}">

	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{exp:stash:get name="safe-description"}" />
	<meta property="og:url" content="{site_url}/event/{url_title}" />
	<!--<meta property="og:image" content="{article_illustration}{url}{/article_illustration}" />-->

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info}
	
	{events-blurb}

	{/exp:channel:entries}
	{exp:channel:entries channel="events" status="open" show_future_entries="no" show_expired="yes" dynamic="no"}

	{if no_results}<style>#archive-link {display: none;}</style>{/if}

	{if count == 1}
	<div id="archive" role="main" class="main-wrapper stacker multi-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				<h1 class="section-sub-title columnists">Past Events</h1>
	{/if}
				<article class="item-summary article columnist" id="panelist1">

					<header class="column-summary-header">

						<h1><a href="/event/{url_title}">{title}</a></h1>

						<p class="meta">
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
						</p>

					</header>

					{event_deck}

				</article>
	{if count == total_results}
			</section>

		</div>

	</div>
	{/if}

	{/exp:channel:entries}

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				{events-about}

			</section>

		</div>

		{exp:channel:entries channel="events" limit="1" status="open" show_future_entries="yes" show_expired="yes" dynamic="no"}
		{event_sponsor_ad_code_2}
		{/exp:channel:entries}

	</div>

{sponsor-top}

{global-footer}

{global-page-bottom}

{/if}

{/exp:ifelse}
