{exp:ifelse parse="inward"}

{if segment_2}

{exp:redirecturl url="http://alistapart.com/event/{segment_2}"}

{if:else}

{exp:channel:entries channel="events" limit="1" status="open" show_future_entries="yes" show_expired="yes" dynamic="no"}

{if no_results}
{redirect="404"}
{/if}

{global-page-top}

	<title>{title} · An A List Apart Event</title>

	{exp:stash:set name="safe-description"}{exp:strip_html}{exp:low_replace find="QUOTE" replace="'"}{event_deck}{/exp:low_replace}{/exp:strip_html}{/exp:stash:set}

	<link rel="canonical" href="http://alistapart.com/events"/>

	<meta name="description" content="{exp:stash:get name="safe-description"}">
	<meta name="author" content="{embed="embeds/article-authors-no-html" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alistapart">
	<meta name="twitter:title" content="{title}">
	<meta name="twitter:description" content="{exp:stash:get name="safe-description"}">
	<meta name="twitter:url" content="http://alistapart.com/event/{url_title}">

	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{exp:stash:get name="safe-description"}" />
	<meta property="og:url" content="{site_url}/event/{url_title}" />
	<!--<meta property="og:image" content="{article_illustration}{url}{/article_illustration}" />-->

</head>

<body itemscope itemtype="http://schema.org/WebPage">

{primary-logo}

{global-nav}

{current-user-info}

	{events-blurb}

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content" itemscope itemtype="http://schema.org/BroadcastEvent">

				<header class="author-header">

					<h1 itemprop="name">{title}</h1>

				</header>

				<meta itemprop="organizer" content="A List Apart">
				
				<?php 
					$videoUrl = "{events_video_url}";
					$urlArray = parse_url($videoUrl, PHP_URL_PATH);
					$segments = explode('/', $urlArray);
					$numSegments = count($segments); 
					$videoID = $segments[$numSegments - 1]; 
				?>
				
				{if events_video_url}
					<meta itemprop="description" content="{event_deck}">
					{event_deck}
					<figure class="video" itemscope itemtype="http://schema.org/VideoObject">
						<meta itemprop="name" content="{title}">
						<meta itemprop="description" content="Video for {title} event">
						<meta itemprop="duration" content="T60M00S">
						<meta itemprop="thumbnailUrl" content="http://img.youtube.com/vi/<?php echo $videoID; ?>/0.jpg">
						<meta itemprop="embedURL" content="{events_video_url}">
						<meta itemprop="uploadDate" content="2011-07-05T08:00:00+08:00">
						<meta itemprop="height" content="315">
						<meta itemprop="width" content="560">
						<meta itemprop="name" content="{title}">
						<iframe width="560" height="315" src="{events_video_url}" frameborder="0" allowfullscreen></iframe>
					</figure>
					{event-details}
					{event-copy}
				{if:else}
					{exp:hop_inject where="<p>" always_inject="yes"}
					{event-copy}
					{exp:hop_inject:injection separator="2" position="before"}
					{event-details}
					{/exp:hop_inject:injection}
					{/exp:hop_inject}
				{/if}

 			</section>


		</div>

	</div>

	{if {current_time} < {entry_date} }
	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section id="register" class="main-content form-content">

				<h1 class="section-sub-title serif">Registration</h1>

				{if segment_2 == "thanks"}<p class="form-message">Thank you for registering! Check your email for event information and reminders.</p>{/if}

				<p>This online session will take place on {entry_date format="%l"}, {entry_date format="%F"} {entry_date format="%d"}, {entry_date format="%Y"} between {entry_date format="%g"}&ndash;{expiration_date format="%g %A %T"}.</p>

				<p>To join us, please provide your name and email address so that we can send you viewing instructions.</p>

				<!-- Begin MailChimp Signup Form -->
				<form action="//alistapart.us3.list-manage.com/subscribe/post?u=0916d3332d7cd86d644d2b4fe&amp;id=364a798952" method="post" id="email-subscribe" name="mc-embedded-subscribe-form" class="simple-form wide-form" novalidate>

					<fieldset>

						<label for="mce-NAME">Name
							<input
								type="text"
								name="NAME"
								id="mce-NAME"
								value="{logged_in_screen_name}"
								data-validate="onblur"
								data-type="any"
								data-isvalid=""
								data-error="who are you?"
								required />
						</label>

						<label for="mce-EMAIL">Email address
							<input
								type="email"
								name="EMAIL"
								id="mce-EMAIL"
								value="{logged_in_email}"
								data-validate="onblur"
								data-type="email"
								data-isvalid=""
								data-error="we need your email address"
								required />
						</label>

					</fieldset>

					<fieldset>

						<label class="list"><input type="checkbox" value="1" name="group[12745][1]" id="mce-group[12745]-12745-0"> Notify me of future <cite>A List Apart</cite>: On Air sessions via email</label>
						<label class="list"><input type="checkbox" value="2" name="group[12745][2]" id="mce-group[12745]-12745-1"> Sign me up for the <cite>ALA</cite> digest, our biweekly email roundup</label>

					</fieldset>

					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0916d3332d7cd86d644d2b4fe_f1ea1ab5a3" tabindex="-1" value=""></div>

				    <p class="form-message error"></p>

				    <p><input type="submit" value="Register Now" /></p>

				</form>

				<!--End mc_embed_signup-->

			</section>

		</div>

	</div>
	{/if}

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				<h1 class="section-sub-title columnists">Participants</h1>
				{event_participants}
				{event_participants:participant_object}
				<article class="item-summary article columnist">

					<header class="column-summary-header">

						<img class="restrain" src="{event_participants:participant_object:author_avatar}" alt="photo of {event_participants:participant_object:title}">

						<span class="event-role">{event_participants:participant_title}</span>

						<h1>{event_participants:participant_object:title}</h1>

					</header>

					<p>{event_participants:participant_object:author_bio}</p>

					{embed="embeds/author-articles-simple" author_id="{event_participants:participant_object:author_id}"}

				</article>
				{/event_participants:participant_object}
				{/event_participants}

			</section>

		</div>

	</div>

	{/exp:channel:entries}

	{exp:channel:entries channel="events" status="open" show_future_entries="no" show_expired="yes" dynamic="no"}

	{if no_results}<style>#archive-link {display: none;}</style>{/if}

	{if count == 1}
	<div id="archive" role="main" class="main-wrapper stacker multi-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				<h1 class="section-sub-title columnists">Past Events</h1>
	{/if}
				<article class="item-summary article columnist" id="panelist1">

					<header class="column-summary-header">

						<h1><a href="/event/{url_title}">{title}</a></h1>

						<p class="meta">
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
						</p>

					</header>

					{event_deck}

				</article>
	{if count == total_results}
			</section>

		</div>

	</div>
	{/if}

	{/exp:channel:entries}

	<div role="main" class="main-wrapper stacker single-column-display condensed">

		<div class="col-holder">

			<section class="main-content">

				{events-about}

			</section>

		</div>

		{exp:channel:entries channel="events" limit="1" status="open" show_future_entries="yes" show_expired="yes" dynamic="no"}
		{event_sponsor_ad_code_2}
		{/exp:channel:entries}

	</div>

{sponsor-top}

{global-footer}

{global-page-bottom}

{/if}

{/exp:ifelse}
