<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/_/css/style.css">

	<link rel="stylesheet" href="/_/css/readable.css">

	<script src="/_/js/libs/modernizr-2.5.3.min.js"></script>

	<title>A List Apart</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
</head>

<body>

{global-header}

<div role="main">

	<header data-title="title & details">
	
		<h1>The Issues</h1>
	
	</header>

	{exp:channel:entries channel="issues" limit="20" status="open" dynamic="off"}
	<hr>
	
	<section data-title="{issue_number}">
	
		{exp:playa:children field="issue_articles"}
		<p>
			<a href="/article/{url_title}">{title}</a> <small>({comment_total} comments)</small><br>
			{article_deck}
		</p>
	
		{if no_children}<p style="background: yellow;">no articles!</p>{/if}
	
		{/exp:playa:children}
	
	</section>
	{/exp:channel:entries}

</div>

{current-user-info}


{global-js}

{page-bottom}