{global-page-top}

	<title>A List Apart: For People Who Make Websites</title>
	<meta name="description" content="A List Apart explores the design, development, and meaning of web content, with a special focus on web standards and best practices.">

	<link rel="canonical" href="http://alistapart.com"/>

</head>

<body id="home-page" class="home-page">

{primary-logo}

{global-nav}

{current-user-info}

	{exp:channel:entries channel="issues" limit="1" status="open" dynamic="off" show_future_entries="no"}

	{exp:stash:set name="issue-number"}<span itemprop="isPartOf" itemscope itemtype="http://schema.org/PublicationIssue"><a itemprop="url" href="/issue/{issue_number}" class="issue-number"><span class="badge">Issue №</span> <span itemprop="issueNumber">{issue_number}</span></a>{/exp:stash:set}

	{issue_illustration}
	<figure itemscope itemtype="http://schema.org/ImageObject" class="wide-hero">
		<picture>
			{if width > height}
			<source srcset="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="1920" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 600px)">
			<img src="{exp:ce_img:pair src="{url}" width="960" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="">
			{if:else}
			<source srcset="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 1x, {exp:ce_img:pair src="{url}" width="696" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair} 2x" media="(min-width: 960px)">
			<img src="{exp:ce_img:pair src="{url}" width="348" crop="no" save_type="jpg" quality="81"}{made}{/exp:ce_img:pair}" alt="">
			{/if}
		</picture>
		{exp:stash:get name="issue-number"}
	</figure>
	{/issue_illustration}

	<div role="main" class="main-wrapper">

		<section class="main-content">

			<header class="issue-header">

				<time class="pubdate updated new" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%M %d, %Y"}</time>

				<p>{issue_description}</p>

			</header>

			{exp:playa:children field="issue_articles"}
			<article class="entry-header">

				<h2 class="entry-title"><a href="/article/{url_title}">{title}</a></h2>

				<p class="entry-details">

					by {embed="embeds/article-authors" entry_author="{author}" entry_username="{username}" entry_id="{entry_id}"}

					{if comment_total == 1}
					 · <a class="comment-count" href="/article/{url_title}#comments">1 Comment</a>
					{if:elseif comment_total > 1}
					 · <a class="comment-count" href="/article/{url_title}#comments">{comment_total} Comments</a>
					{/if}

				</p>

				<p class="entry-summary">{article_deck}</p>

			</article>

			{/exp:playa:children}

			{/exp:channel:entries}

		</section>

		<div class="multi-column-display">

			<h2 class="classy">More from A List Apart</h2>

			<div class="column-holder">

				<div class="variable-column">
					
					{exp:channel:entries channel="blog|columns|articles|events" limit="3" dynamic="off" status="open" show_future_entries="no" sticky="no" orderby="date" sort="desc"}
					
					<article class="item-summary article">

						<h4 class="summary-title"><a href="{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:elseif channel_short_name == "events"}event/{if:else}article/{/if}{url_title}">{title}</a></h4>

						<p class="aside-author">
							{if channel_short_name == 'blog'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {blog_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{blog_authors:url_title}"><span itemprop="name">{blog_authors:title}</span></a>, {/blog_authors}</span>
							{/if}
							{if channel_short_name == 'columns'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {column_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{column_authors:url_title}"><span itemprop="name">{column_authors:title}</span></a>, {/column_authors}</span>
							{/if}
							{if channel_short_name == 'articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{article_authors:url_title}"><span itemprop="name">{article_authors:title}</span></a>, {/article_authors}</span>
							{/if}
							{if channel_short_name == 'legacy_articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {legacy_article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{legacy_article_authors:url_title}"><span itemprop="name">{legacy_article_authors:title}</span></a>, {/legacy_article_authors}</span>
							{/if}
						</p>

						<p>{article_mini_deck}{blog_mini_deck}{column_mini_deck}{event_deck}</p>

						<footer>
							{if "{categories}{category_url_title}{/categories}"!=""}
							{embed="embeds/primary-category-logic-homepage" id="{entry_id}"}
							·{/if}
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}"><a href="{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:elseif channel_short_name == "events"}event/{if:else}article/{/if}{url_title}">{entry_date format="%F %d, %Y"}</a></time>
						</footer>

					</article>

					{/exp:channel:entries}

					<div class="fixed-column ads">

						<script src="/{assets_path}/js/libs/htmlParser.js"></script>
						<script src="/{assets_path}/js/libs/postscribe.js"></script>
						<aside id="deck-target" class="the-deck"></aside>
						<aside id="job-board-target" class="job-board"></aside>
						{ad-bsa-text}

					</div>

					{exp:channel:entries channel="blog|columns|articles|events" offset="3" limit="6" dynamic="off" status="open" show_future_entries="no" sticky="no" orderby="date" sort="desc"}
					
					<article class="item-summary article">

						<h4 class="summary-title"><a href="{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:elseif channel_short_name == "events"}event/{if:else}article/{/if}{url_title}">{title}</a></h4>

						<p class="aside-author">
							{if channel_short_name == 'blog'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {blog_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{blog_authors:url_title}"><span itemprop="name">{blog_authors:title}</span></a>, {/blog_authors}</span>
							{/if}
							{if channel_short_name == 'columns'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {column_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{column_authors:url_title}"><span itemprop="name">{column_authors:title}</span></a>, {/column_authors}</span>
							{/if}
							{if channel_short_name == 'articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{article_authors:url_title}"><span itemprop="name">{article_authors:title}</span></a>, {/article_authors}</span>
							{/if}
							{if channel_short_name == 'legacy_articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {legacy_article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{legacy_article_authors:url_title}"><span itemprop="name">{legacy_article_authors:title}</span></a>, {/legacy_article_authors}</span>
							{/if}
						</p>

						<p>{article_mini_deck}{blog_mini_deck}{column_mini_deck}{event_deck}</p>

						<footer>
						{if "{categories}{category_url_title}{/categories}"!=""}
						{embed="embeds/primary-category-logic-homepage" id="{entry_id}"}
						·{/if} 
						<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}"><a href="{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:elseif channel_short_name == "events"}event/{if:else}article/{/if}{url_title}">{entry_date format="%F %d, %Y"}</a></time>

						</footer>

					</article>

					{/exp:channel:entries}
					
				</div>	
				
			</div>
		
			<aside class="ala-slug">A List Apart explores the design, development, and meaning of web content, with a special focus on web standards and best practices. Explore our <a href="/articles">articles</a> or find out more <a href="/about">about us</a>.</aside>

		</div>

		<!--

		-->

	</div>

{sponsor-top}

{global-footer}

{global-page-bottom}

