{exp:switchee variable="{segment_2}" parse="inward"}

{case value="#^P(\d+)$#|''|archives"}<!--if segment == pagination or blank or archives-->

	{global-page-top}

		<title>A List Apart: The Articles</title>

		<link rel="canonical" href="{site_url}/{segment_1}{if segment_2}/{segment_2}{/if}{if segment_3}/{segment_3}{/if}"/>
		{exp:channel:entries limit="10" channel="issues|articles|legacy_articles|blog|columns|posts" status="open" dynamic="off" show_future_entries="no" paginate="top"}{paginate}{if next_page}<link rel="next" href="{auto_path}" />{/if}
		{if previous_page}<link rel="prev" href="{auto_path}" />{/if}{/paginate}{/exp:channel:entries}

	</head>

	<body itemscope itemtype="http://schema.org/WebPage">

	{primary-logo}

   	{global-nav}

	{current-user-info}

		<div role="main" class="main-wrapper two-column-display">

			<div class="col-holder">

				<article class="main-content">

					<h1 class="basic-title">The Articles</h1>

					{exp:channel:entries channel="articles|legacy_articles|blog|columns|posts" limit="10" status="open" dynamic="on" show_future_entries="no" orderby="entry_date" sort="desc" sticky="no"}
					
					{if no_results}
					{redirect="404"}
					{/if}

					<ul class="entry-list">

						<li>

						<h3 class="entry-title"><a href="{if channel_short_name == "columns"}column/{if:elseif channel_short_name == "blog"}blog/post/{if:elseif channel_short_name == "events"}event/{if:else}article/{/if}{url_title}">{title}</a></h3>

						<p class="meta">

							{if channel_short_name == 'blog'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {blog_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{blog_authors:url_title}"><span itemprop="name">{blog_authors:title}</span></a>, {/blog_authors}</span>
							{/if}
							{if channel_short_name == 'columns'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {column_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{column_authors:url_title}"><span itemprop="name">{column_authors:title}</span></a>, {/column_authors}</span>
							{/if}
							{if channel_short_name == 'articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{article_authors:url_title}"><span itemprop="name">{article_authors:title}</span></a>, {/article_authors}</span>
							{/if}
							{if channel_short_name == 'legacy_articles'}
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">by {legacy_article_authors backspace="2"}<a itemprop="url" class="author" rel="author" href="/author/{legacy_article_authors:url_title}"><span itemprop="name">{legacy_article_authors:title}</span></a>, {/legacy_article_authors}</span>
							{/if} ·
							<time class="pubdate updated" datetime="{entry_date format="%Y-%m-%dT%H:%i:%s%Q"}">{entry_date format="%F %d, %Y"}</time>
							{if comment_total > 0}
							 · <a class="comment-count" href="/article/{url_title}#comments">{comment_total} Comment{if comment_total > 1}s{/if}</a>
							 {/if}

						</p>

						<p>{exp:strip_html}{article_deck}{legacy_article_deck}{blog_intro}{column_intro}{/exp:strip_html}</p>

					</li>

					</ul>

					{paginate}
					<nav class="paginator" role="toolbar">
						<ul>
			        		{if next_page}
			        			<li><a class="previous" href="{auto_path}">Previous</a></li>
				        	{/if}
			        		{if previous_page}
			            			<li><a class="next" href="{auto_path}">Next</a></li>
			        		{/if}
						</ul>
					</nav>
					{/paginate}

					{/exp:channel:entries}

					{if segment_3}

						{embed="embeds/issue-list" offset="{segment_3}"}

					{/if}

					</article><!--

				--><div class="secondary-column">

					{sponsor-top}

					<script src="/{assets_path}/js/libs/htmlParser.js"></script>
					<script src="/{assets_path}/js/libs/postscribe.js"></script>
					<aside id="deck-target" class="the-deck"></aside>

					{even-more-from-ala}

					{ad-bsa-text}
					
					<aside id="job-board-target" class="job-board"></aside>

					

				</div>

			</div>

		</div>

	{global-footer}

	{global-page-bottom}

{/case}

{case default="Yes"}

	{redirect="/article/{segment_2}"}

{/case}

{/exp:switchee}


